:root {
  --white: rgb(255, 255, 255);
  --white-op: rgba(255, 255, 255, .6);
  --primary: #ff5a30;
  --success: #03cea4;
  --danger: #ff4242;
  --warning: #f89828;
  --info: #5a87fc;
  --gray-900: rgb(30, 33, 44);
  --gray-800: #424551;
  --gray-700: #787a80;
  --gray-600: #9a9ca5;
  --gray-500: #b3b7bc;
  --gray-400: #d7dadd;
  --gray-300: #e5e8ed;
  --gray-200: #f4f5f6;
  --gray-100: #f9f9f9;
  --box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03),
      0 12px 10px -6px rgba(154, 156, 165, 0.04),
      0 30px 24px -10px rgba(154, 156, 165, 0.05),
      0 80px 80px -20px rgba(154, 156, 165, 0.08);
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--gray-800);
  overflow-x: hidden;
  min-width: 100vw;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

::marker {
  margin-top: 10px;
}

.main {
  overflow-x: clip;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url(../fonts/Ubuntu-R.woff2) format("woff2"), url(../fonts/Ubuntu-R.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url(../fonts/Ubuntu-B.woff2) format("woff2"), url(../fonts/Ubuntu-B.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url(../fonts/Lato-Black.woff2) format("woff2"), url(../fonts/Lato-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 1260px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
}
.section__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 28px;
  color: var(--gray-900);
}
.section__title span {
  color: var(--primary);
}
.section__subtitle {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  color: var(--gray-900);
  margin-bottom: 24px;
  text-align: center;
}
.section__text {
  font-size: 18px;
  line-height: 1.5;
  color: var(--gray-700);
  margin-bottom: 60px;
  text-align: center;
}
.section__titleh3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--gray-900);
}
.section__titleh4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--white);
}
.section__swiper {
  padding-bottom: 80px;
}
.section__slider-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
}
.section__slider-content {
  padding: 16px 20px 0;
}
.section__slider-title {
  margin-bottom: 5px;
}
.section__slider-descr {
  font-size: 14px;
  text-align: center;
  color: var(--gray-700);
  margin-bottom: 24px;
}
.section__slider-link {
  display: none;
}

.header {
  padding: 20px 0;
}
.header--main {
  background-color: var(--white);
}
.header--secondary {
  position: absolute;
  top: 0;
  left: 8px;
  width: 100%;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}
.header__contacts-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 52px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.header__contacts-link--tel {
  background-image: url(../images/icons/phone.svg);
}
.header__contacts-link--mail {
  background-image: url(../images/icons/chat.svg);
}
.header__contacts-descr {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}
.header__contacts-descr--fs {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-900);
}

.nav {
  margin-right: auto;
  margin-left: 60px;
}
.nav__menu-btn {
  display: none;
}
.nav__list {
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: var(--gray-800);
}
.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}
.nav__link--active {
  color: var(--primary);
}

.hero {
  position: relative;
  height: 988px;
  color: var(--white);
  background-color: rgba(30, 33, 44, 0.6);
}
.hero__title {
  color: var(--white);
}
.hero__content {
  position: absolute;
  top: 22%;
  max-width: 580px;
  z-index: 2;
}
.hero__descr {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 61px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero__slider-item {
  position: relative;
  width: 100%;
  height: 988px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--primary);
  text-transform: uppercase;
  border: 1px solid transparent;
  color: var(--white);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
  }
}
.button--large {
  padding: 0 38px;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 3.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.button--regular {
  font-weight: 700;
  font-size: 14px;
  line-height: 3.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0px 32px;
  height: 44px;
}
.button--small {
  font-weight: 700;
  font-size: 12px;
  line-height: 3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0px 24px;
  height: 36px;
}
.button--link {
  border: 1px solid var(--white);
  background-color: transparent;
}
.button--primary {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .button--primary:hover {
    color: var(--white);
    background-color: var(--primary);
  }
}
.button__more {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  color: var(--gray-800);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .button__more:hover {
    color: var(--primary);
  }
  .button__more:hover svg {
    color: var(--primary);
  }
}
.button__more svg {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  color: inherit;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.slick-arrow {
  position: absolute;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.5;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;
  cursor: url("../images/icons/cursor.svg"), pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-arrow svg {
  width: 18px;
  height: 12px;
  z-index: 10;
}
@media (any-hover: hover) {
  .slick-arrow:hover {
    opacity: 1;
    box-shadow: 1px 5px 10px -5px black;
  }
}

.slick-next {
  right: 30px;
}

.slick-prev {
  left: 30px;
}

.slick-dots {
  position: absolute;
  max-width: 724px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  bottom: 12%;
  color: rgba(255, 255, 255, 0.6);
}
.slick-dots > li {
  width: 24%;
  position: relative;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-dots > li:not(:last-child) {
  margin-right: 4px;
}
.slick-dots > li::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}
.slick-dots > li.slick-active::after {
  background-color: var(--white);
}
.slick-dots > li.slick-active button {
  color: var(--white);
}
@media screen and (width < 1023.99px) {
  .slick-dots {
    display: none;
  }
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 60px;
}
.video__block {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 500px;
}
.video__block::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 3;
  background: var(--gray-900);
  opacity: 0.6;
}
.video__player {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video__button {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.video__muted {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.12);
  left: 52px;
  bottom: 12px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.values__list {
  --valeus-gap: 94px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--valeus-gap) * 2);
}
.values__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 72px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 48px 48px;
}
.values__item--quality {
  background-image: url(../images/icons/ic-like.svg);
}
.values__item--safety {
  background-image: url(../images/icons/ic-hand.svg);
}
.values__item--comfort {
  background-image: url(../images/icons/ic-slippers.svg);
}
.values__item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 0;
  right: calc(-1 * var(--valeus-gap));
  width: 1px;
  height: 100%;
  background-image: url(../images/icons/divider.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.values__titleh3 {
  margin-bottom: 8px;
}
.values__text {
  text-align: center;
}

.our-services {
  margin-top: -94px;
  padding-top: 212px;
  padding-bottom: 80px;
  background-color: var(--gray-200);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-image-set(url(../images/our-services/our-services-bg1@1x.png) type("image/png") 1x, url(../images/our-services/our-services-bg1@2x.png) type("image/png") 2x);
}
.our-services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 27px;
  margin-bottom: 80px;
}
.our-services__item {
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  background: var(--white);
}
.our-services__link {
  position: relative;
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: inherit;
}
@media (any-hover: hover) {
  .our-services__link:hover::after {
    opacity: 1;
  }
  .our-services__link:hover::before {
    opacity: 1;
  }
  .our-services__link:hover .our-services__titleh3 {
    color: var(--white);
  }
  .our-services__link:hover svg {
    color: var(--white);
  }
}
.our-services__link::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(30, 33, 44, 0.6);
  border-radius: inherit;
  opacity: 0;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.our-services__link::before {
  z-index: 2;
  position: absolute;
  inset: 0;
  content: "";
  border-radius: inherit;
  opacity: 0;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.our-services__link svg {
  -o-object-fit: cover;
     object-fit: cover;
  color: var(--primary);
  margin-bottom: 24px;
  z-index: 3;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-services__link--bi::before {
  background-image: -webkit-image-set(url(../images/our-services/our-services-bg-hover1@1x.avif) type("image/avif") 1x, url(../images/our-services/our-services-bg-hover1@2x.avif) type("image/avif") 2x, url(../images/our-services/our-services-bg-hover1@1x.webp) type("image/webp") 1x, url(../images/our-services/our-services-bg-hover1@2x.webp) type("image/webp") 2x, url(../images/our-services/our-services-bg-hover1@1x.jpg) type("image/jpg") 1x, url(../images/our-services/our-services-bg-hover1@2x.jpg) type("image/jpg") 2x);
}
.our-services__link--bi1::before {
  background-image: -webkit-image-set(url(../images/video/video1@1x.avif) type("image/avif") 1x);
}
.our-services__titleh3 {
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.request-form__title {
  padding-top: 49px;
}
.request-form__block {
  padding: 33px 60px 48px;
  display: flex;
  gap: 24px;
  border-radius: 4px;
  max-width: 100%;
  box-shadow: var(--box-shadow);
  background: var(--white);
}
.request-form__button {
  align-self: flex-end;
}

.form__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900);
}
.form__label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-800);
  width: 260px;
}
.form__label--big {
  width: 414px;
}
.form__input {
  margin-top: 6px;
  padding: 10px 10px 12px 16px;
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  color: var(--gray-600);
  background-color: var(--gray-200);
}
.form__input textarea {
  height: 66px;
}

.checkbox__label {
  display: flex;
  gap: 7px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.checkbox:checked + .checkbox__label .checkbox__castom-icon {
  background: var(--primary);
  border-color: var(--primary);
}

.checkbox__castom-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 3px;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

checkbox:checked + .checkbox__label .checkbox__castom-icon .checkbox__icon-check {
  opacity: 1;
}

.checkbox__icon-check {
  cursor: pointer;
  opacity: 0;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.view__titleh4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900);
}

.portfolio-section {
  background-color: var(--white);
  padding-bottom: 120px;
}
.portfolio-section__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
}
.portfolio-section__subtitle {
  max-width: 710px;
  margin-bottom: 0;
  padding-bottom: 14px;
  text-align: left;
}

.slider-nav {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slider-nav__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  transform: translateX(12px);
  z-index: 6;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .slider-nav__btn:hover {
    background-color: var(--primary);
  }
  .slider-nav__btn:hover svg {
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--white);
  }
}

.clients {
  padding-top: 80px;
}
.clients--main {
  background-color: var(--gray-200);
}
.clients--services {
  padding-top: 120px;
  padding-bottom: 114px;
}
.clients__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 102px;
  margin-top: 57px;
}

.testimonials {
  padding-top: 180px;
  background-color: var(--gray-200);
}
.testimonials__container {
  display: flex;
  justify-content: space-between;
}
.testimonials__content {
  max-width: 600px;
}
.testimonials__swiper {
  position: relative;
}
.testimonials__avatar-cover {
  overflow: hidden;
  border-radius: 100%;
  width: 72px;
  height: 72px;
  margin-bottom: 25px;
}
.testimonials__avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials__subtitle {
  margin-bottom: 60px;
}
.testimonials__blockquote-text {
  margin-bottom: 26px;
}
.testimonials__blockquote-name {
  font-weight: 700;
  color: var(--gray-900);
  font-style: normal;
}
.testimonials__blockquote-name span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-700);
}
.testimonials__slider-nav {
  justify-content: flex-end;
  margin-top: -114px;
}
.testimonials__img {
  border-radius: 4px;
  position: relative;
  z-index: 5;
  margin-bottom: -60px;
}

.facts {
  background-color: var(--white);
  padding-top: 180px;
  padding-bottom: 57px;
  position: relative;
  overflow: hidden;
}
.facts::before {
  content: "";
  position: absolute;
  left: -310px;
  top: -195px;
  width: 570px;
  height: 1065px;
  background-image: -webkit-image-set(url(../images/facts/fact-bg1@1x.png) type("image/png") 1x, url(../images/facts/fact-bg1@2x.png) type("image/png") 2x);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.facts__subtitle {
  margin-bottom: 60px;
}
.facts__list {
  max-width: 736px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  margin: 0 auto;
}
.facts-element__circle {
  --progress-stroke: #000;
  --progress-bg-opacity: 0.3;
  position: relative;
  margin-bottom: 20px;
  width: 148px;
  height: 148px;
}
.facts-element__circle svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.facts-element__circle .progress {
  stroke: var(--progress-stroke);
  transform: rotate(-90deg) translateX(20px);
  transform-origin: center;
}
.facts-element__circle .progress-bg {
  stroke: var(--progress-stroke);
  opacity: var(--progress-bg-opacity);
}
.facts-element__circle--one-color {
  --progress-stroke: #f89828;
}
.facts-element__circle--two-color {
  --progress-stroke: #f52f6e;
}
.facts-element__circle--three-color {
  --progress-stroke: #5a87fc;
}
.facts-element__circle--four-color {
  --progress-stroke: #03cea4;
}
.facts-element__value {
  position: absolute;
  left: 50%;
  top: 50%;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: var(--gray-900);
  transform: translate(-50%, -50%);
}
.facts-element__text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--gray-900);
}

.news-section {
  padding-bottom: 120px;
}
.news-section__subtitle {
  margin-bottom: 59px;
}
.news-section__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 255px);
  gap: 30px;
  padding-bottom: 80px;
}
.news-section__item {
  grid-column: 5 span;
}
.news-section__item:first-child {
  grid-column: 7 span;
  grid-row: 2 span;
}
.news-section__box-title-link {
  margin-bottom: 12px;
}

.news-box {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  height: 100%;
}
.news-box__picture-cover {
  overflow: hidden;
  height: 360px;
}
.news-box__img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (any-hover: hover) {
  .news-box__title-link:hover .news-box__title {
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary);
  }
}
.news-box--small .news-box__picture-cover {
  overflow: hidden;
  height: 156px;
}
.news-box--small .news-box__descr {
  display: none;
}
.news-box--small .news-box__content {
  padding-top: 16px;
}
.news-box--small .news-box__meta {
  margin-bottom: 0;
}
.news-box__content {
  padding: 25px 24px;
}
.news-box__meta {
  display: flex;
  gap: 12px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-700);
  margin-bottom: 16px;
}
.news-box__meta-item:not(:last-child) {
  position: relative;
  padding-right: 12px;
}
.news-box__meta-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: var(--gray-700);
}
.news-box__comments {
  padding-left: 20px;
  background-image: url(../images/icons/comments.svg);
  background-position: left center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
.news-box__descr {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.application-form {
  padding: 80px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.application-form__container {
  display: flex;
  justify-content: flex-end;
}
.application-form__form {
  padding: 48px 40px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  width: 495px;
  height: 666px;
  box-shadow: var(--box-shadow);
  background: var(--white);
}
.application-form .form__title {
  margin-bottom: 24px;
  text-align: center;
}
.application-form .form__label {
  width: 100%;
  margin-bottom: 22px;
}
.application-form .checkbox__label {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}
.application-form button {
  margin: 0 auto;
}

.footer {
  padding: 80px 0;
  background: var(--gray-900);
  color: rgba(255, 255, 255, 0.6);
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 47px 30px;
}
.footer__left {
  grid-column: 7 span;
}
.footer__left-text {
  width: 100%;
  max-width: 495px;
  font-size: 14px;
  line-height: 1.5;
}
.footer__inner {
  display: flex;
  align-items: center;
  gap: 0 60px;
  margin-bottom: 25px;
}
.footer__form {
  grid-column: 5 span;
}
.footer__form-title {
  margin-bottom: 24px;
}
.footer__form-inner {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.footer__form-label {
  width: 364px;
}
.footer__form-input {
  width: 100%;
  margin-top: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.12);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.footer__form-btn {
  padding: 0 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid var(--primary);
}
.footer__form-text {
  font-size: 12px;
  line-height: 1.5;
}
.footer__title {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 13px;
}
.footer__address {
  grid-column: 4 span;
}
.footer__item:not(:last-child) {
  margin-bottom: 6px;
}
.footer__link span {
  color: var(--white);
}
.footer__nav {
  padding-left: 54px;
  grid-column: 8 span;
  display: flex;
  gap: 124px;
}
.footer__copyright {
  grid-column: 12 span;
  margin-top: 9px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--white);
}
.footer__copyright > span {
  padding-left: 22px;
  background-image: url(../images/icons/heart.svg);
  background-position: 2px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.social {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
}
.social__item {
  width: 24px;
  height: 24px;
}
.social__link > svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.breadcrumbs {
  padding-bottom: 40px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.breadcrumbs__link {
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-800);
}
.breadcrumbs__link::after {
  content: "/";
  margin-right: 8px;
  margin-left: 8px;
  color: var(--gray-600);
}
.breadcrumbs__nolink {
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-600);
}

.services-hero {
  padding-top: 150px;
  height: 600px;
  background-color: var(--gray-200);
  background-position: right -308px top;
  background-repeat: no-repeat;
}
.services-hero__content {
  max-width: 600px;
}
.services-hero__title {
  margin-bottom: 21px;
}

.services {
  padding-bottom: 180px;
}
.services__item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 80px;
  align-items: center;
}
.services__item:nth-child(even) .services__content {
  order: -1;
}
.services__item:not(:last-child) {
  margin-bottom: 120px;
}
.services__picture-cover {
  grid-column: 6 span;
  width: 575px;
  height: 420px;
  overflow: hidden;
  border-radius: 4px;
}
.services__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__content {
  grid-column: 6 span;
}
.services__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--gray-900);
  margin-bottom: 24px;
}
.services__descr {
  color: var(--gray-700);
  margin-bottom: 48px;
}
.services__btn {
  display: inline-block;
}

.weoffer {
  padding-bottom: 60px;
}
.weoffer__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 105px;
}
.weoffer__picture-cover {
  grid-column: 7 span;
  width: 705px;
  height: 440px;
  overflow: hidden;
}
.weoffer__content {
  grid-column: 5 span;
}
.weoffer__title {
  font-family: "Lato", sans-serif;
  text-align: left;
  margin-bottom: 60px;
  font-weight: 900;
}

.accordeon__title {
  position: relative;
  padding-left: 42px;
  max-width: 376px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: var(--gray-900);
  margin-bottom: 12px;
  text-align: left;
}
.accordeon__title-icon {
  position: absolute;
  top: 20px;
  left: 0;
  display: inline-block;
  width: 22px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--primary);
}
.accordeon__title-icon--rotate {
  transform: rotate(90deg);
  opacity: 1;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.accordeon__text {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-left: 42px;
  box-sizing: content-box;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
}
.accordeon__title.accordeon__title--active .accordeon__title-icon--rotate {
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotate(0deg);
  opacity: 0;
}
.accordeon__text.accordeon__text--visible {
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.steps {
  padding-top: 120px;
  padding-bottom: 120px;
}
.steps__title {
  text-align: left;
  margin-bottom: 32px;
}
.steps__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  counter-reset: number;
}
.steps__item {
  position: relative;
  grid-column: 3 span;
  list-style: none;
  padding-top: 116px;
  padding-left: 28px;
  background-image: none;
  background-position: top left;
  background-size: 116px 116px;
  background-repeat: no-repeat;
  animation: opac 0.7s;
}
.steps__item::before {
  position: absolute;
  top: 28px;
  left: 28px;
  counter-increment: number;
  content: "0" counter(number);
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  color: var(--gray-400);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.steps__item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 54px;
  right: 0;
  height: 1px;
  width: 55%;
  background-image: url(../images/icons/line.svg);
  background-size: cover;
}
@media (any-hover: hover) {
  .steps__item:hover {
    background-image: url(../images/icons/step-item-bg.svg);
  }
  .steps__item:hover::before {
    color: var(--primary);
  }
}
.steps__subtitle {
  margin-bottom: 8px;
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.benefits {
  padding-top: 80px;
  background-color: var(--gray-900);
  color: var(--white-op);
}
.benefits__container {
  position: relative;
  padding-bottom: 126px;
}
.benefits__title {
  color: var(--white);
}
.benefits__item--icon1 {
  background-image: url(../images/icons/benefits-icon1.svg);
}
.benefits__item--icon2 {
  background-image: url(../images/icons/benefits-icon2.svg);
}
.benefits__item--icon3 {
  background-image: url(../images/icons/benefits-icon3.svg);
}
.benefits__link {
  position: absolute;
  display: inline-block;
  padding: 0px 112px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -26px;
}

.projects {
  padding-top: 180px;
  padding-bottom: 101px;
}

.pricing {
  position: relative;
  padding-top: 80px;
  background-color: var(--gray-200);
}
.pricing::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 0;
  width: 858px;
  height: 1065px;
  background-image: -webkit-image-set(url(../images/pricing/pricing-bg@1x.png) type("image/png") 1x, url(../images/pricing/pricing-bg@2x.png) type("image/png") 2x);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.table {
  position: relative;
  z-index: 3;
  width: 100%;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  overflow: hidden;
  border: none;
}
.table__wrapper {
  border-collapse: collapse;
}
.table__th {
  padding-top: 31px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: var(--gray-900);
  text-align: center;
}
.table__th:first-child {
  padding-right: 24px;
  padding-left: 24px;
  vertical-align: bottom;
  text-align: left;
}
.table__heading {
  margin-bottom: 2px;
  font-size: 24px;
  text-transform: uppercase;
}
.table__per {
  font-size: 18px;
  color: var(--gray-700);
}
.table__body .table__row:nth-child(odd) {
  background: var(--gray-200);
}
.table__body tr:last-child {
  height: 100px;
}
.table__col {
  text-align: center;
  height: 56px;
  border: none;
}
.table__col:first-child {
  padding-left: 24px;
  vertical-align: middle;
  text-align: left;
}
.table__check {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  font-size: 0;
  background: url(../images/icons/mark.svg) center/cover no-repeat;
}
.table__btn {
  margin: 0 auto;
}

.portfolio {
  padding-bottom: 100px;
  text-align: center;
}
.portfolio-tabs-nav {
  transform: translateY(-50px);
  padding-bottom: 69px;
}
.portfolio__btn-more {
  margin-top: 60px;
}

.tabs {
  display: flex;
  gap: 20px;
  width: 100%;
}
.tabs__item {
  flex-basis: calc((100% - 80px) / 5);
  min-height: 154px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tabs__btn {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 700;
  color: var(--gray-600);
}
.tabs__btn svg {
  color: var(--primary);
}
.tabs-content {
  gap: 30px;
}
.tabs-content__item {
  grid-column: 4 span;
}

.mixitup-control-active.tabs__item {
  pointer-events: none;
  background-color: var(--primary);
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(255, 90, 48, 0.08), 0 26px 24px -10px rgba(255, 90, 48, 0.1), 0 60px 80px -20px rgba(255, 90, 48, 0.16);
}
.mixitup-control-active.tabs__item .tabs__btn {
  color: var(--white);
}
.mixitup-control-active.tabs__item .tabs__btn svg {
  color: var(--white);
}/*# sourceMappingURL=style.css.map */