:root {
  --white: rgb(255, 255, 255);
  --primary: #ff5a30;
  --success: #03cea4;
  --danger: #ff4242;
  --warning: #f89828;
  --info: #5a87fc;
  --gray-900: #1e212c;
  --gray-800: #424551;
  --gray-700: #787a80;
  --gray-600: #9a9ca5;
  --gray-500: #b3b7bc;
  --gray-400: #d7dadd;
  --gray-300: #e5e8ed;
  --gray-200: #f4f5f6;
  --gray-100: #f9f9f9;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--gray-800);
  overflow-x: hidden;
  min-width: 100vw;
}

button {
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

::marker {
  margin-top: 10px;
}

.main {
  overflow-x: clip;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-R.woff2) format("woff2"), url(../fonts/Ubuntu-R.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-B.woff2) format("woff2"), url(../fonts/Ubuntu-B.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 1260px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  outline: 1px solid brown;
}

.header {
  background-color: var(--white);
  padding: 20px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}
.header__contacts-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 52px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.header__contacts-link--tel {
  background-image: url(../images/icons/phone.svg);
}
.header__contacts-link--mail {
  background-image: url(../images/icons/chat.svg);
}
.header__contacts-descr {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}
.header__contacts-descr--fs {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-900);
}

.nav {
  margin-right: auto;
  margin-left: 60px;
}
.nav__menu-btn {
  display: none;
}
.nav__list {
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: var(--gray-800);
}
.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}
.nav__link--active {
  color: var(--primary);
}

.hero {
  position: relative;
  height: 988px;
  color: var(--white);
}
.hero__inner {
  position: absolute;
  top: 22%;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}
.hero__title span {
  color: var(--primary);
}
.hero__descr {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 60px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero__slider-item {
  position: relative;
  width: 100%;
  height: 988px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--primary);
  border: 1px solid transparent;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--primary);
    background-color: var(--white);
    border: 1px solid var(--primary);
  }
}
.button--large {
  width: 224px;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 3.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-transform: uppercase;
  color: var(--white);
}
.button--link {
  width: 278px;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 3.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.slick-arrow {
  position: absolute;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.5;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 3;
  cursor: url("../images/icons/cursor.svg"), pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-arrow svg {
  width: 18px;
  height: 12px;
  z-index: 10;
}
@media (any-hover: hover) {
  .slick-arrow:hover {
    opacity: 1;
    box-shadow: 1px 5px 10px -5px black;
  }
}

.slick-next {
  right: 30px;
}

.slick-prev {
  left: 30px;
}

.slick-dots {
  position: absolute;
  max-width: 724px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  bottom: 12%;
  color: rgba(255, 255, 255, 0.6);
}
.slick-dots > li {
  width: 24%;
  position: relative;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-dots > li:not(:last-child) {
  margin-right: 4px;
}
.slick-dots > li::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}
.slick-dots > li.slick-active::after {
  background-color: var(--white);
}
.slick-dots > li.slick-active button {
  color: var(--white);
}
@media screen and (width < 1023.99px) {
  .slick-dots {
    display: none;
  }
}

.section {
  padding-top: 120px;
}/*# sourceMappingURL=style.css.map */