.accordeon {

  &__item {}

  &__title {
    position: relative;
    padding-left: 42px;
    max-width: 376px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: var(--gray-900);
    margin-bottom: 12px;
    text-align: left;
    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    &:active {
      color: var(--primary);
    }

    &-icon {
      position: absolute;
      top: 20px;
      left: 0;
      display: inline-block;
      width: 22px;
      height: 2px;
      border-radius: var(--border-radius);
      background-color: var(--primary);

      &--rotate {
        transform: rotate(90deg);
        opacity: 1;
        @include transition ($transition-property: (transform, opacity));
      }
    }
  }

  &__text {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-left: 42px;
    box-sizing: content-box;
    @include transition ($transition-property: (opacity));
    margin-bottom: 24px;
  }

  &__title.accordeon__title--active {
    .accordeon__title-icon--rotate {
      @include transition ($transition-property: transform);
      transform: rotate(0deg);
      opacity: 0;
    }
  }

  &__text.accordeon__text--visible {
    @include transition ($transition-property: opacity);
    opacity: 1;
  }
}