.animate-on-scroll {
  opacity: 0;
  transform: translateX(-50px);
  animation: none;
  will-change: opacity, transform;

  &.in-view {
    opacity: 1;
    transform: translateX(0);
  }

  &.spin.in-view {
    animation: spin 6s linear infinite;
  }

  &.fadeInUp.in-view {
    animation: fadeInUp 0.8s ease forwards 0.2s;
  }

  &.pulse.in-view {
    animation: pulse 1.5s ease-out infinite;
  }

  // Если хочешь, можешь объединить:
  &.fadeInUp.pulse.in-view {
    animation:
      fadeInUp 0.2s ease-out forwards,
      pulse 1.5s ease-out infinite;
    animation-delay: 0s, 0.5s;
  }

  &.shake.in-view {
    animation: gift-nudge 1.2s ease-out;
  }

  &.shake.shake-loop {
    animation: shake 0.6s infinite ease-in-out;
  }

  // &.fadeScale.in-view {
  //   animation: fadeScale 0.5s ease-out forwards;
  // }

  &.heartbeat.in-view {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }

  // &.running-line-right.in-view {
  //   animation: running-line-right 30s linear 1s infinite;
  // }
}

.running-line-right {
  animation: running-line-right 30s linear 1s infinite;

  @media screen and (width < 768px) {
    animation: running-line-right 10s linear 1s infinite;
  }
}


.running-line-left {
  animation: running-line-left 30s linear 1s infinite;
}

.fade-scale {
  animation-name: fadeScale;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  animation-duration: 1s;

  view-timeline-name: --fadeScale-block;
  animation-timeline: --fadeScale-block;
  animation-range: 20% 50%;
}

.fadeInUp {
  animation: fadeInUp 0.8s ease forwards 0.2s;
}

// Анимация появления элементов
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    scale: 0.5;

  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-1.5px, 1.5px) rotate(-1.5deg);
  }

  40% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }

  60% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }

  80% {
    transform: translate(1.5px, -1.5px) rotate(1deg);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes fadeScale {
  from {
    scale: 0.5;
  }
}

@keyframes to-right {
  0% {
    transform: translate3d(-10%, 0, 1px);
  }

  100% {
    transform: translateZ(1px);
  }
}

@keyframes running-line-right {
  0% {
    transform: translateX(0);
    transform-origin: left center;
  }

  100% {
    transform: translateX(-50%);
    transform-origin: right center;
  }
}

// @keyframes running-line-left {
//   0% {
//     transform: translateX(0);
//     transform-origin: left center;
//   }

//   100% {
//     transform: translateX(100%);
//     transform-origin: right center;
//   }
// }

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(.91);
    transform: scale(.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(.87);
    transform: scale(.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  // -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  // animation: heartbeat 1.5s ease-in-out infinite both;
}


// Анимация появления сдвигом использована в position.html -> vacancies
@mixin appearance($direction: left, $distance: 50px, $duration: 0.6s, $delay: 0s) {
  opacity: 0;

  @if $direction ==left {
    transform: translateX(-$distance);
    animation-name: slideIn-left;
  }

  @else if $direction ==right {
    transform: translateX($distance);
    animation-name: slideIn-right;
  }

  @else if $direction ==top {
    transform: translateY(-$distance);
    animation-name: slideIn-top;
  }

  @else if $direction ==bottom {
    transform: translateY($distance);
    animation-name: slideIn-bottom;
  }

  animation-duration: $duration;
  animation-delay: $delay;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideIn-left {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn-right {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideIn-top {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn-bottom {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.appearance-left.visible {
  @include appearance(left);
}

.appearance-right.visible {
  @include appearance(right);
}

.appearance-top.visible {
  @include appearance(top);
}

.appearance-bottom.visible {
  @include appearance(bottom);
}



// @keyframes running-begin {
//   0% {
//     transform: translateX(0);
//   }

//   100% {
//     transform: translateX(-33.33%);
//   }



//   // -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
//   // animation: appLandingLogosCarousel-scroll 40s linear infinite;
// }