.application-form {
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
  // background-size: cover;
  background-size: 0% 100%;

  /* 1. Фолбек для старых браузеров */

  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* 1. Фолбек для старых браузеров */
  background-image: url("../images/application/application-bg1@1x.jpg");

  /* 2. Safari без поддержки image-set */
  background-image: -webkit-image-set(url("../images/application/application-bg1@1x.webp") type("image/webp") 1x,
      url("../images/application/application-bg1@2x.webp") type("image/webp") 2x,
      url("../images/application/application-bg1@1x.jpg") 1x,
      url("../images/application/application-bg1@2x.jpg") 2x);

  /* 3. Современные браузеры с AVIF */
  background-image: image-set(url("../images/application/application-bg1@1x.avif") type("image/avif") 1x,
      url("../images/application/application-bg1@2x.avif") type("image/avif") 2x,
      url("../images/application/application-bg1@1x.webp") type("image/webp") 1x,
      url("../images/application/application-bg1@2x.webp") type("image/webp") 2x,
      url("../images/application/application-bg1@1x.jpg") 1x,
      url("../images/application/application-bg1@2x.jpg") 2x);



  &.in-view {
    @include my-reveal-bg($duration: 1s,
      $timing: ease-out,
      $end-size: 100% 100%,
      $start-size: 0% 100%,
      $anim-name: my-revealBg-100-100);
  }


  &__container {
    display: flex;
    justify-content: flex-end;
  }


  &__form {
    // padding: 48px 40px;
    padding: 48px clamp(0.625rem, -0.034rem + 3.3vw, 2.5rem);
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    width: 495px;
    height: 678px;
    box-shadow: var(--box-shadow);
    background: var(--white);
  }

  .form__title {
    margin-bottom: 24px;
    text-align: center;
  }

  .form__label {
    // width: 100%;
    margin-bottom: 17px;

  }

  .checkbox__label {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.5;
  }

  button {
    margin: 0 auto;
  }
}