.application-form {
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: flex-end;
  }


  &__form {
    // padding: 48px 40px;
    padding: 48px clamp(0.625rem, -0.034rem + 3.3vw, 2.5rem);
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    width: 495px;
    height: 678px;
    box-shadow: var(--box-shadow);
    background: var(--white);
  }

  .form__title {
    margin-bottom: 24px;
    text-align: center;
  }

  .form__label {
    // width: 100%;
    margin-bottom: 17px;

  }

  .checkbox__label {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.5;
  }

  button {
    margin: 0 auto;
  }
}