.benefits {
  // padding-top: 80px;
  padding-top: clamp(2.5rem, 1.621rem + 4.4vw, 5rem);
  padding-bottom: 2px;
  background-color: var(--gray-900);
  color: var(--white-op);

  &__container {
    position: relative;
    // padding-bottom: 126px;
    padding-bottom: clamp(2.5rem, 0.61rem + 9.45vw, 7.875rem);
  }

  &__title {
    color: var(--white);
  }

  &__item {

    &--icon1 {
      background-image: url(../images/icons/benefits-icon1.svg);
    }

    &--icon2 {
      background-image: url(../images/icons/benefits-icon2.svg);
    }

    &--icon3 {
      background-image: url(../images/icons/benefits-icon3.svg);
    }
  }

  &__titleh3 {
    color: var(--white);
    width: 100%;
    text-align: center;
  }


  &__link {
    position: absolute;
    display: inline-block;
    padding: 0px 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -26px;
    max-width: 390px;
    min-width: 290px;
    text-align: center;
  }
}