.blockquote {
  padding-left: 58px;

  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray-900);

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__avtor {
    position: relative;
    font-weight: 700;
    color: var(--gray-900);
    margin-top: 60px;

    &::after {
      position: absolute;
      content: '';
      width: 100px;
      height: 68px;
      right: 26px;
      bottom: -5px;
      background-image: url(../images/icons/autograph.svg);
    }
  }

  &__company {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-700);
  }
}

blockquote {
  position: relative;
  // padding-left: 58px;

  // &::before {
  //   position: absolute;
  //   content: '';
  //   width: 28px;
  //   height: 20px;
  //   top: 0;
  //   left: 0;
  //   background: url(../images/icons/quotes.svg) no-repeat;
  // }
}