.breadcrumbs {
  // padding-top: 152px;
  // padding-bottom: 40px;
  margin-bottom: 40px;

  &__list {
    @include flex-aic;
    list-style: none;
  }



  &__link {
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-800);

    &::after {
      content: "/";
      margin-right: 8px;
      margin-left: 8px;
      color: var(--gray-600);
    }

    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--primary);
    }
  }

  &__nolink {
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-600);
  }

  @media screen and (width < 768.01px) {
    &__list {
      flex-wrap: wrap;
    }
  }
}