.categories {
  // padding-top: 120px;
  padding-top: clamp(2.5rem, 0.742rem + 8.79vw, 7.5rem);
  // padding-bottom: 176px;
  padding-bottom: clamp(2.5rem, -0.489rem + 14.95vw, 11rem);

  &__subtitle {
    margin-bottom: 40px;
  }

  &__list {
    margin-top: 60px;
    gap: 55px 30px;
  }

  &__item {
    grid-column: 6 span;
  }

  &__pag {
    margin-top: 60px;
  }

  @media screen and (width < 768.01px) {
    &__item {
      grid-column: 12 span;
    }
  }
}