.categories-nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;


  &__item {
    width: calc(100% / 6);


  }

  &__btn {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: var(--gray-600);
    background-color: var(--white);
    @include transition ($transition-property: (border, color));

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--primary);
    }

    &--active {
      color: var(--primary);
      border: 1px solid var(--primary);
    }
  }
}