.choices {
  width: 100%;

  margin-top: 8px;

  &__inner {
    height: 52px;
    // margin-top: 10px;
    padding: 13px 16px !important;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-800);
    border: 1px solid var(--gray-400);
    border-radius: var(--border-radius);
    color: var(--gray-600);
    background-color: var(--gray-200);
    width: 100%;
  }

  &__list--single {
    padding: 0px 16px 4px 2px;
  }

  &__list--single .choices__placeholder {
    color: var(--gray-800);
    opacity: 1;
  }

  &[data-type*=select-one]:after {
    width: 14px;
    height: 9px;
    border: none;
    background: url(../images/icons/down.svg) center / cover no-repeat;
    right: 16px;
    margin-top: 0 !important;

    @include transition ($transition-property: transform);
  }

  &[data-type*=select-one].is-open:after {
    transform: rotate(180deg);
  }

  &__list--dropdown .choices__item--selectable::after {
    display: none;
  }

  &.is-focused {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }
}