.clients {
  overflow: hidden;


  &__descr {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--gray-700);
    will-change: transform;
  }

  &__ticker {
    padding-top: 60px;
    padding-bottom: 10px;
    overflow: hidden;


    &-track {
      display: flex;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      width: max-content;
    }
  }


  &__list {
    display: flex;

    // gap: 40px 102px;
    gap: 40px clamp(2.5rem, -16.762rem + 30.1vw, 6.375rem);
    transform: translateZ(0);
    will-change: transform;


  }

  &__item {
    flex: 0 0 auto;
    @include flex-jcc;
  }

  &__link {
    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--primary);
    }
  }

  @media screen and (max-width:768px) {
    &__list {
      width: 100%;

    }
  }
}