.clients {

  &__descr {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--gray-700);
  }

  &__list {
    // gap: 40px 102px;
    gap: 40px clamp(2.5rem, -16.762rem + 30.1vw, 6.375rem);
    margin-top: 57px;

    &--right {
      animation: running-line-right 30s linear 1s infinite;
    }

    &--left {
      animation: running-line-left 30s linear 1s infinite;
    }
  }

  &__item {
    grid-column: 2 span;
    @include flex-jcc;
  }

  &__link {
    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--primary);
    }
  }

  @media screen and (width < 767.99px) {
    &__item {
      grid-column: 4 span;
    }
  }

  @media screen and (width < 484.99px) {

    &__list {
      column-gap: 10px;
    }

    &__item {
      grid-column: 6 span;
    }
  }
}