.comment {
  display: flex;
  justify-content: space-between;
  gap: 30px;


  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-700);

  &__user {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: var(--gray-900);
    margin-bottom: 8px;
  }

  &__right {
    max-width: 630px;
  }

  &__body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-800);
    margin-bottom: 20px;

    * {
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & a {
      font-weight: 700;
      display: inline-block;
      color: var(--primary);
    }
  }

  &__reply {
    &-svg {
      margin-right: 4px;
      display: inline-block;
      fill: currentColor;
    }
  }


}