.comment {
  display: flex;
  justify-content: space-between;
  gap: 10px 30px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-700);

  &__left {
    flex-shrink: 0;
    width: 150px;
  }

  &__user {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: var(--gray-900);
    margin-bottom: 8px;
  }

  &__right {
    width: 630px;
  }

  &__body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-800);
    margin-bottom: 20px;

    * {
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & a {
      font-weight: 700;
      display: inline-block;
      color: var(--primary);
      @include transition ($transition-property: color);

      &:focus {
        outline: 2px solid var(--primary);
        outline-offset: 2px;
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--danger);
        }
      }

      &:active {
        color: var(--danger);
      }
    }
  }

  &__reply {
    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--primary);
    }

    &-svg {
      margin-right: 4px;
      display: inline-block;
      fill: currentColor;
    }
  }

  @media screen and (width < 768.01px) {
    flex-direction: column;

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
    }
  }
}