.contacts {
  padding-top: 120px;
  padding-bottom: 120px;

  &__title {
    margin-bottom: 24px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px 10px;
  }

  @media screen and (width < 1025.01px) {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
  }
}