.contacts {
  padding-top: clamp(2.5rem, 0.742rem + 8.79vw, 7.5rem);
  // padding-top: 120px;
  // padding-bottom: 120px;
  padding-bottom: clamp(2.5rem, 0.742rem + 8.79vw, 7.5rem);

  &__title {
    margin-bottom: 24px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px 10px;
  }

  @media screen and (max-width:1025.01px) {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
  }
}