.contact-form {

  &__grup {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .form__label {
    font-size: 16px;
    line-height: 1.6;
    width: 285px;
    margin-bottom: 24px;

    &--big {
      width: 600px;
    }
  }

  .form__input {
    margin-top: 8px;
    padding: 13px 16px;
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
  }

  & textarea {
    height: 128px;
  }

  &__policy-box {
    @include flex-aic-jcsb;
    gap: 10px;
    margin-top: 40px;

    .checkbox__text {
      max-width: 315px;
    }
  }

  .button--large {
    padding: 0 42px;
  }
}