.footer {
  padding: 80px 0;
  background: var(--gray-900);
  color: rgba(255, 255, 255, .6);

  &__container {
    gap: 48px 30px;
  }


  &__left {
    grid-column: 7 span;

    &-text {
      width: 100%;
      max-width: 495px;
      font-size: 14px;
      line-height: 1.5;

    }
  }

  &__inner {
    @include flex-aic;
    flex-wrap: wrap;
    gap: 30px 60px;
    margin-bottom: 25px;
  }

  &__form {
    grid-column: 5 span;

    &-title {
      margin-bottom: 24px;
    }

    &-inner {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    }

    &-label {
      margin-bottom: 0 !important;
      position: relative;
    }

    &-input {
      width: 100%;
      margin-top: 0;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.12);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 11px 16px 12px;
    }

    &-btn {
      padding: 0 25px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 1px solid var(--primary);
    }

    &-text {
      font-size: 12px;
      line-height: 1.5;
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 13px;
  }

  &__address {
    grid-column: 4 span;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  &__link {
    span {
      color: var(--white);
    }

    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    // @media (any-hover: hover) {
    //   &:hover {
    //     color: var(--primary);
    //   }
    // }

    &:active {
      color: var(--primary);
    }
  }

  &__nav {
    padding-left: 54px;
    grid-column: 8 span;
    display: flex;
    gap: 124px;
  }

  &__copyright {
    grid-column: 12 span;
    margin-top: 9px;
    // font-size: 12px;
    font-size: clamp(0.625rem, 0.581rem + 0.22vw, 0.75rem);
    line-height: 1.5;
    color: var(--white);

    & > span {
      padding-left: 22px;
      background-image: url(../images/icons/heart.svg);
      background-position: 2px center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
    }
  }

  @media screen and (width < 768.01px) {
    &__container {
      display: block;
    }

    &__left {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &-text {
        max-width: none;
      }
    }

    &__form {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &__address {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &__nav {
      padding-left: 0;
      justify-content: space-around;
      gap: 10px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}