.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: var(--box-shadow);


  &__inner {
    @include flex-aic-jcsb;
  }

  &__nav {
    @media screen and (width < 578.01px) {
      position: fixed;
      padding: 30px;
      left: 0;
      // top: 50px;
      top: var(--header-height);
      display: block;
      width: 85%;
      height: 100%;
      background-color: var(--gray-200);
      z-index: 11;
      overflow-y: auto;
      transform: translateX(150%);
      @include transition ($transition-property: transform);

      &--active {
        transform: none;
      }
    }
  }

  &__contacts {
    @include flex-aic-jcsb;
    gap: 36px;
    // gap: clamp(1rem, -4.424rem + 8.47vw, 2.25rem);
  }


  &__contacts-link {
    @include flex-fdaifs;
    padding-left: 52px;
    background-position: left center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    // font-size: 18px;
    font-size: clamp(1rem, 0.458rem + 0.85vw, 1.125rem);
    font-weight: 400;
    color: var(--gray-900);
    @include transition ($transition-property: color);

    &--tel {
      background-image: url(../images/icons/phone.svg);
    }

    &--mail {
      background-image: url(../images/icons/chat.svg);
    }

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--primary);
    }
  }

  &__contacts-descr {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-800);

    // -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    // animation: heartbeat 1.5s ease-in-out infinite both;
  }

  &__address {


    @media screen and (min-width: 578.01px) and (max-width: 1025.01px) {
      margin-left: auto;
    }
  }


  @media screen and (width < 1025.01px) {
    &__inner {
      flex-wrap: wrap;
      gap: 20px;
    }


  }

  @media screen and (width < 578.01px) {
    &__logo {
      z-index: 13;
    }

    &__contacts {
      flex-wrap: wrap;

    }

    &__contacts-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.logo {
  flex-shrink: 0;

  &:focus {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }
}