.history {
  padding-top: 180px;
  padding-bottom: 100px;
  background-color: var(--gray-200);


  &-nav {
    position: relative;
    grid-column: 4 span;
    padding-left: 39px;
    border-left: 1px solid rgba(#9a9ca5, .5);

    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__btn {
      position: relative;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.5;
      color: var(--gray-600);
      @include transition ($transition-property: color);

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        left: -43px;
        width: 16px;
        height: 16px;
        background-color: var(--gray-200);
      }

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        left: -43px;
        width: 8px;
        height: 8px;
        background-color: var(--primary);
        border-radius: 50%;
        background-color: currentColor;
      }

      &--active {
        color: var(--primary);
      }

      @include transition ($transition-property: color);

      &:focus {
        outline: none;
        color: var(--primary);
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--primary);
        }
      }

      &:active {
        color: var(--primary);
      }
    }
  }




  &__slider-images {
    grid-column: 8 span;
    overflow: hidden;
    margin-left: 9px;
  }
}