.nav {
  margin-right: auto;
  margin-left: 60px;

  &__menu-btn {
    display: none;
  }

  &__list {
    padding: 13px 0;
    @include flex-aic-jcsb;
    gap: 40px;
    color: var(--gray-800);
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--active);
    }

    &--active {
      color: var(--primary);
    }
  }
}