.nav {
  margin-right: auto;
  // margin-left: 60px;
  margin-left: clamp(1.25rem, -11.177rem + 19.42vw, 3.75rem);


  &__list {
    @include flex-aic-jcsb;
    // gap: 40px;
    gap: clamp(1.5rem, -2.839rem + 6.78vw, 2.5rem);
    color: var(--gray-800);
  }

  &__link {
    padding: 13px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--primary);
    }

    &--active {
      color: var(--primary);
    }
  }

  @media screen and (width < 1025.01px) {
    margin-left: auto;
    margin-right: 0;
  }

  @media screen and (width < 578.01px) {

    &__list {
      // flex-direction: column;
      display: block;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}