.news-section {
  // padding-bottom: 119px;
  padding-bottom: clamp(2.5rem, 0.764rem + 8.68vw, 7.438rem);
  overflow: hidden;


  &__subtitle {
    // margin-bottom: 59px;
    margin-bottom: clamp(1.875rem, 1.238rem + 3.19vw, 3.688rem);
  }

  &__list {
    grid-template-rows: repeat(2, 255px);
    gap: 30px;
    padding-bottom: 80px;
  }

  &__item {
    grid-column: 5 span;


    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;
    }
  }

  @media screen and (max-width:1024.01px) {
    &__list {
      display: block;
    }

    &__item {
      @include appear-scale;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}