.offices {
  // padding-top: 80px;
  padding-top: clamp(2.5rem, 1.621rem + 4.4vw, 5rem);
  // padding-bottom: 122px;
  padding-bottom: clamp(2.5rem, 0.698rem + 9.01vw, 7.625rem);
  background: var(--gray-200);

  &__nav-title {
    font-weight: 700;
    // font-size: 28px;
    font-size: clamp(1.125rem, 0.086rem + 2.16vw, 1.75rem);
    line-height: 1.5;
    color: var(--gray-900);
    margin-bottom: 24px;
  }

  &__nav {
    // --valeus-gap: 120px;
    --valeus-gap: clamp(0.125rem, -12.135rem + 25.54vw, 7.5rem);
    gap: calc(var(--valeus-gap) * 2);
  }

  &__nav-coll {
    width: 252px;
    position: relative;
    grid-column: 3 span;

    &:not(:last-child) {
      &::after {
        position: absolute;
        content: '';
        top: 0;
        right: calc(-1 * var(--valeus-gap));
        width: 1px;
        height: 100%;
        background-image: url(../images/icons/divider-offices.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;
      }
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 4px;

    &--address {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__address {
    display: block;
    margin-bottom: 4px;
  }

  &__link {
    font-size: 16px;
    line-height: 1.6;
    color: var(--gray-900);
    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &:active {
      color: var(--primary);
    }

    &--map {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--primary);
    }

    &--name {
      color: var(--gray-700);
    }
  }

  &__social {
    padding-top: 120px;


    &-title {
      margin-bottom: 40px;
    }

    .social {
      justify-content: center;
      gap: 24px;
    }
  }

  @media screen and (width < 1025.01px) {
    &__nav-coll {
      &:not(:last-child) {
        &::after {
          display: none;
        }
      }
    }
  }

  @media screen and (width < 768.01px) {
    &__nav-coll {
      grid-column: 12 span;
      width: 100%;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}