.our-services {
  margin-top: -94px;
  // padding-top: 217px;
  padding-top: clamp(10.938rem, 10.014rem + 4.62vw, 13.563rem);
  // padding-bottom: 80px;
  padding-bottom: clamp(2.5rem, 1.621rem + 4.4vw, 5rem);
  background-color: var(--gray-200);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:
    -webkit-image-set(url(../images/our-services/our-services-bg1@1x.png) type('image/png') 1x,
      url(../images/our-services/our-services-bg1@2x.png) type('image/png') 2x);


  &__titleh3 {
    @include transition ($transition-property: color);
    z-index: 3;
  }

  &__list {
    gap: 27px;
    margin-bottom: 80px;
  }

  &__item {
    grid-column: span 3;
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background: var(--white);
  }


  &__link {
    position: relative;
    height: 285px;
    @include flex-all-center;
    flex-direction: column;
    border-radius: inherit;
    @include transition ($transition-property: (color, opacity));

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          opacity: 1;
        }

        &::before {
          opacity: 1;
        }

        & .our-services__titleh3 {
          color: var(--white);
        }

        & svg {
          color: var(--white);
        }
      }
    }

    &:active {
      color: var(--primary);
    }

    &::after {
      position: absolute;
      inset: 0;
      content: '';
      background-color: rgba(30, 33, 44, .6);
      border-radius: inherit;
      opacity: 0;
      @include transition ($transition-property: opacity);
      z-index: 2;

    }

    &::before {
      z-index: 2;
      position: absolute;
      inset: 0;
      content: '';
      border-radius: inherit;
      opacity: 0;
      @include transition ($transition-property: opacity);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    & svg {
      object-fit: cover;
      color: var(--primary);
      margin-bottom: 24px;
      z-index: 3;
      @include transition ($transition-property: color);
    }

    &--bi {
      &::before {
        background-image:
          -webkit-image-set(url(../images/our-services/our-services-bg-hover1@1x.avif) type('image/avif') 1x,
            url(../images/our-services/our-services-bg-hover1@2x.avif) type('image/avif') 2x,
            url(../images/our-services/our-services-bg-hover1@1x.webp) type('image/webp') 1x,
            url(../images/our-services/our-services-bg-hover1@2x.webp) type('image/webp') 2x,
            url(../images/our-services/our-services-bg-hover1@1x.jpg) type('image/jpg') 1x,
            url(../images/our-services/our-services-bg-hover1@2x.jpg) type('image/jpg') 2x);
      }
    }

    &--bi1 {
      &::before {
        background-image:
          -webkit-image-set(url(../images/video/video1@1x.avif) type('image/avif') 1x,
          );
      }
    }
  }

  @media screen and (max-width:1024.99px) {
    &__item {
      grid-column: span 6;
    }
  }

  @media screen and (max-width:484.99px) {
    &__item {
      grid-column: span 12;

    }
  }

  @media screen and (height < 769px) {
    &__list {
      gap: 27px 5px;

    }
  }
}