.page {

  &-home {
    .header {
      position: relative;
      background-color: var(--white);
    }

    .request-form {

      .form__title {
        margin-bottom: 0;
      }

      .form__label {
        width: 260px;
        margin-bottom: 0;

        &--big {
          width: 414px;
        }
      }

      .form__input {
        margin-top: 3px;
      }
    }

    .clients {
      padding-top: 80px;
      background-color: var(--gray-200);

      &__title {
        display: none;
      }
    }

    blockquote::before {
      display: none;
      padding-left: 0;
    }

  }

  &-about {
    .values {
      padding-top: clamp(2.5rem, 1.621rem + 4.4vw, 5rem);
      // padding-top: 80px;
      background-color: var(--gray-200);
    }

    blockquote::before {
      top: 0;
    }
  }


  &-contacts {
    .header {
      background-color: transparent;
    }
  }

  &-services-inside {
    .clients {
      padding-top: 120px;
      padding-bottom: 120px;
      background-color: var(--gray-200);

      &__title {
        display: none;
      }
    }

    .similar {
      display: none;
    }
  }

  &-work {
    .testimonials {
      padding-top: 80px;
    }

    .clients {
      padding-top: 172px;
      padding-bottom: 125px;

      .partners__title {
        display: none;
      }
    }

    blockquote::before {
      display: none;
      padding-left: 0;
    }
  }

  &-work-inside {
    .page-hero {
      height: auto;
      background-color: var(--white);
      background-position: top right;
    }

    .related {
      display: none;
    }

    .projects {
      padding-bottom: 117px;
    }
  }
}