.page {

  &-home {
    .header {
      position: relative;
      background-color: var(--white);
    }

    .request-form {

      .form__title {
        margin-bottom: 0;
      }

      .form__label {
        width: 260px;
        margin-bottom: 0;

        &--big {
          width: 414px;
        }
      }

      .form__input {
        margin-top: 3px;
      }
    }
  }

  &-about {
    .values {
      padding-top: 80px;
      background-color: var(--gray-200);
    }
  }


  &-contacts {
    .header {
      background-color: transparent;
    }
  }
}