.page-hero {
  // padding-top: 150px;
  padding-top: var(--header-height);
  height: 600px;
  background-repeat: no-repeat;
  background-color: var(--gray-200);
  background-position: bottom right;
  // background-size: 0% 100%;

  &__content {
    max-width: 600px;

    @media screen and (min-width: 1025px) and (max-width: 1230px) {
      max-width: clamp(21.875rem, -55.795rem + 121.36vw, 37.5rem);
    }

  }

  &__title {
    margin-bottom: 21px;
  }

  &__descr {
    // font-size: 20px;
    font-size: clamp(1.125rem, 1.081rem + 0.22vw, 1.25rem);
    line-height: 1.5;
  }

  @media screen and (width < 1025px) {
    background-image: none !important;
    // padding-top: 100px;
    padding-top: var(--header-height);
    height: auto;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}