$pages: (
  about: 'page-about',
  positions: 'page-positions',
  news: 'page-news',
  services: 'page-services',
  services-inside: 'page-services-inside',
  work: 'page-work',
  // work-inside: 'page-work-inside',
  contacts: 'page-contacts',
);

$hero-bg: (
  about: 'about-hero-bg',
  positions: 'positions-hero-bg',
  news: 'news-hero-bg',
  services: 'services-hero-bg',
  services-inside: 'services-inside-hero-bg',
  work: 'work-hero-bg',
  // work-inside: 'work-inside-hero-bg',
  contacts: 'contacts-hero-bg',
);

// 🔄 Генерация фонов для каждой страницы
@each $key, $class in $pages {
  $bg-name: map-get($hero-bg, $key);

  .#{$class} .page-hero {
    background-image: url("images/hero/#{$bg-name}@1x.png");

    @supports (background-image: image-set(url("images/hero/#{$bg-name}@1x.avif") 1x)) {
      background-image: image-set(url("images/hero/#{$bg-name}@1x.avif") 1x,
        url("images/hero/#{$bg-name}@2x.avif") 2x,
        url("images/hero/#{$bg-name}@1x.webp") 1x,
        url("images/hero/#{$bg-name}@2x.webp") 2x,
        url("images/hero/#{$bg-name}@1x.png") 1x,
        url("images/hero/#{$bg-name}@2x.png") 2x);
    }
  }
}


.page-hero {
  // padding-top: 150px;
  padding-top: var(--header-height);
  height: 600px;
  background-repeat: no-repeat;
  background-color: var(--gray-200);
  background-position: bottom right;
  // background-size: 0% 100%;

  &__content {
    max-width: 600px;

    @media screen and (min-width: 1025px) and (max-width: 1230px) {
      max-width: clamp(21.875rem, -55.795rem + 121.36vw, 37.5rem);
    }

  }

  &__title {
    margin-bottom: 11px;
  }

  &__descr {
    // font-size: 20px;
    font-size: clamp(1.125rem, 1.081rem + 0.22vw, 1.25rem);
    line-height: 1.5;
  }

  @media screen and (max-width:1025px) {
    background-image: none !important;
    // padding-top: 100px;
    height: auto;
    padding-bottom: 40px;
    // margin-bottom: 40px;
  }
}