.portfolio-section {
  background-color: var(--white);
  // padding-bottom: 120px;
  padding-bottom: clamp(4.375rem, 3.276rem + 5.49vw, 7.5rem);


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 44px;
  }

  &__subtitle {
    max-width: 710px;
    margin-bottom: 15px;
    text-align: left;
  }
}