.post {
  // position: relative;
  // padding-bottom: 180px;
  padding-bottom: clamp(2.5rem, -0.577rem + 15.38vw, 11.25rem);

  &__thumb {
    // position: absolute;
    // top: -2%;
    margin-top: -80px;
  }

  &__wrapper {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 840px;
  }

  &__content {
    // padding-top: 80px;
    // padding-bottom: 60px;
    padding-top: clamp(2.5rem, 1.621rem + 4.4vw, 5rem);
    padding-bottom: clamp(1.875rem, 1.216rem + 3.3vw, 3.75rem);

    * {
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      color: var(--gray-900);
    }

    p {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    blockquote {
      padding-top: 18px;
      margin-bottom: 50px;
      // top: 16px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      color: var(--gray-900);
    }

    ul {
      margin-bottom: 27px;

      li {
        padding-left: 30px;

        &:not(:last-child) {
          margin-bottom: 2px;
        }

        background: url(../images/icons/decisions-check.svg) center left / 16px 16px no-repeat;
      }
    }
  }

  &__share {
    @include flex-aic;
    gap: 12px;

    span {
      font-weight: 700;
      color: var(--gray-900);
    }
  }

  &__form-comment {
    padding-top: 40px;
  }
}