.pricing {
  position: relative;
  padding-top: 80px;
  background-color: var(--gray-200);

  &::before {
    content: "";
    position: absolute;
    left: -60px;
    top: 0;
    width: 858px;
    height: 1065px;
    background-image: -webkit-image-set(url(../images/pricing/pricing-bg@1x.png) type("image/png") 1x,
        url(../images/pricing/pricing-bg@2x.png) type("image/png") 2x);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}