.project-goal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  &__content {
    max-width: 600px;
    padding-top: 43px;
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__descr {
    font-size: 18px;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }


  &__table {
    margin-right: 20px;
    margin-bottom: 20px;
    // padding: 37px 10px 37px 60px;
    padding: 40px 60px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    background: var(--white);
    background-color: var(--white);
    flex-shrink: 0;



    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;




    &-wrapper {
      perspective: 25px;
    }



    &-name {
      font-weight: 700;
      color: var(--gray-900);
      width: 98px;
      // padding-right: 32px;
      padding-right: clamp(1rem, 0.648rem + 1.76vw, 2rem);
    }

    &-value {
      color: var(--gray-700);
    }

    tr {
      height: 39px;
    }

    // td {
    //   padding-bottom: 16px;
    // }
  }

  @media screen and (max-width:768.01px) {
    flex-direction: column;

    &__content {
      max-width: none;
    }
  }

  @media screen and (max-width:425.01px) {
    &__table {
      padding: 10px;
    }
  }
}