.project-goal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  &__content {
    max-width: 600px;
    padding-top: 43px;
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__descr {
    font-size: 18px;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__table {
    padding: 37px 10px 37px 60px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    background-color: var(--white);
    flex-shrink: 0;
    @include transition ($transition-property: (scale, box-shadow));

    @media (any-hover: hover) {
      &:hover {
        scale: 1.1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      }
    }


    &-name {
      font-weight: 700;
      color: var(--gray-900);
      width: 98px;
      padding-right: 32px;
    }

    &-value {
      color: var(--gray-700);
    }

    tr {
      height: 39px;
    }

    // td {
    //   padding-bottom: 16px;
    // }
  }

  @media screen and (max-width:768.01px) {
    flex-direction: column;

    &__content {
      max-width: none;
    }
  }

  @media screen and (max-width:425.01px) {
    &__table {
      padding: 10px;
    }
  }
}