.quotation {
  position: relative;
  // padding-bottom: 250px;
  padding-bottom: clamp(7.5rem, -32.888rem + 63.11vw, 15.625rem);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;

    max-width: 1024px;
    width: 100%;
    min-height: 825px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: image-set(url("../images/quotation/bg-image1@1x.avif") type("image/avif") 1x,
        url("../images/quotation/bg-image1@2x.avif") type("image/avif") 2x,
        url("../images/quotation/bg-image1@1x.webp") type("image/webp") 1x,
        url("../images/quotation/bg-image1@2x.webp") type("image/webp") 2x,
        url("../images/quotation/bg-image1@1x.png") type("image/png") 1x,
        url("../images/quotation/bg-image1@2x.png") type("image/png") 2x);

    @supports (background-image: image-set(url("../images/quotation/bg-image1@1x.avif") 1x)) {
      background-image: image-set(url("../images/quotation/bg-image1@1x.avif") 1x,
          url("../images/quotation/bg-image1@2x.avif") 2x,
          url("../images/quotation/bg-image1@1x.webp") 1x,
          url("../images/quotation/bg-image1@2x.webp") 2x,
          url("../images/quotation/bg-image1@1x.png") 1x,
          url("../images/quotation/bg-image1@2x.png") 2x);
    }
  }



  &__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: visible;
  }

  &__thumbs {
    // width: 525px;
    width: clamp(22.625rem, -28.016rem + 79.13vw, 32.813rem);
    height: 580px;
    overflow: hidden;
    position: absolute;
    left: 16px;
    top: 131px;
  }

  &__content {
    max-width: 734px;
    // padding: 90px 77px 77px;
    padding: clamp(0.938rem, -0.711rem + 8.24vw, 5.625rem) clamp(0.625rem, -0.848rem + 7.36vw, 4.813rem) clamp(0.625rem, -0.848rem + 7.36vw, 4.813rem);
    box-shadow: var(--box-shadow);
    background: var(--white);
    border-radius: var(--border-radius);
    z-index: 2;
  }

  @media screen and (max-width:1025px) {
    &__container {
      display: block;
    }

    &__thumbs {
      position: static;
      margin: 0 auto;
    }

    &__content {
      max-width: none;
    }
  }

  @media screen and (max-width:585.99px) {
    &::before {
      top: 84px;
    }
  }

  @media screen and (max-width:425.01px) {
    &__thumbs {
      display: none;
    }
  }
}

.signature-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawSignature 6s ease-in-out forwards;
}

@keyframes drawSignature {
  to {
    stroke-dashoffset: 0;
  }
}