.request-form {
  @include flex-fdc;
  scroll-margin-top: var(--scroll-margin-top);
  @include appear-scale;

  &__title {
    padding-top: 48px;
  }

  &__block {
    // padding: 32px 60px 43px;
    padding: 32px clamp(0.625rem, -0.474rem + 5.49vw, 3.75rem) 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    border-radius: var(--border-radius);
    width: 100%;
    box-shadow: var(--box-shadow);
    background: var(--white);
  }

  &__button {
    align-self: flex-end;
  }
}