.section {
  // padding-top: 120px;
  padding-top: clamp(2.5rem, 0.742rem + 8.79vw, 7.5rem);

  &__title {
    font-weight: 700;
    // font-size: 72px;
    font-size: clamp(2.125rem, 1.29rem + 4.18vw, 4.5rem);
    line-height: 1.3;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--gray-900);

    & span {
      color: var(--primary);
    }
  }

  &__inside-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--gray-900);
  }

  &__subtitle {
    font-weight: 700;
    // font-size: 46px;
    font-size: clamp(1.75rem, 1.354rem + 1.98vw, 2.875rem);

    line-height: 1.3;
    color: var(--gray-900);
    margin-bottom: 24px;

    &--center {
      text-align: center;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.5;
    color: var(--gray-700);
    margin-bottom: 60px;
    text-align: center;
  }

  &__titleh3 {
    font-weight: 700;
    // font-size: 20px;
    font-size: clamp(1rem, 0.912rem + 0.44vw, 1.25rem);
    line-height: 1.5;
    color: var(--gray-900);
  }

  &__titleh4 {
    font-weight: 700;
    // font-size: 24px;
    font-size: clamp(1.25rem, 1.162rem + 0.44vw, 1.5rem);
    line-height: 1.5;
    color: var(--white);
  }

  &__titleh5 {
    font-weight: 700;
    // font-size: 28px;
    font-size: clamp(1.375rem, 1.243rem + 0.66vw, 1.75rem);
    line-height: 1.5;
    color: var(--gray-900);
  }



  &__swiper {
    padding-bottom: 80px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
  }

  &__slider-img {
    max-height: 345px;
    height: 345px;
    aspect-ratio: 16 / 4;
    @include transition ($transition-property: (max-height));
  }

  &__slider-slide {
    height: 435px;
    @include flex-fdc;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    -webkit-transition: max-height .5s;


    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }


    @media (any-hover: hover) {
      &:hover {
        .section__slider-img {
          @include transition ($transition-property: (max-height, object-fit));
          max-height: 277px;
          object-fit: none;
        }
      }
    }

    &:active {
      color: var(--primary);
    }

    .images__thumb {
      overflow: visible;
    }
  }

  &__slider-content {
    padding: 16px 20px 0;
    text-align: center;
  }

  &__slider-title {
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__slider-descr {
    font-size: 14px;
    text-align: center;
    color: var(--gray-700);
    margin-bottom: 24px;
  }


  &__slider-link {
    margin-bottom: 24px;
  }
}