.services {
  // padding-bottom: 180px;
  padding-bottom: clamp(2.5rem, -0.577rem + 15.38vw, 11.25rem);

  // &_list {
  //   gap: 80px;
  // }

  &__item {
    // gap: 80px;
    gap: 80px clamp(1.5rem, -1.583rem + 8.56vw, 5rem);
    align-items: center;

    @media screen and (min-width: 567.99px) {
      &:nth-child(even) {
        .services__content {
          order: -1;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 120px;
    }
  }


  &__picture-cover {
    grid-column: 6 span;
  }

  &__content {
    grid-column: 6 span;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: var(--gray-900);
    margin-bottom: 24px;
  }

  &__descr {
    color: var(--gray-700);
    // margin-bottom: 48px;
    margin-bottom: clamp(1.5rem, -0.435rem + 9.68vw, 3rem);
  }

  &__btn {
    display: inline-block;
  }

  @media screen and (max-width:568px) {

    &__picture-cover,
    &__content {
      grid-column: 12 span;
    }
  }
}