.singlepost {


  &__title {
    margin-bottom: 48px;
  }


  &__bottom {
    @include flex-aic-jcsb;
    margin-bottom: 30px;
  }

  &__meta {
    display: flex;
    gap: 12px;
  }


  &__item {
    &:not(:last-child) {
      position: relative;
      padding-right: 16px;

      &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 16px;
        border-radius: var(--border-radius);
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-color: var(--gray-700);
      }
    }

    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary);
      }
    }

    &--active {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.6;
      color: var(--primary);
    }

    &:not(:first-child) {
      padding-left: 26px;
      background-position: left center;
      background-size: 20px 20px;
      background-repeat: no-repeat;
    }


    &--date {
      background-image: url(../images/icons/clock.svg);
    }

    &--comments {
      background-image: url(../images/icons/comments.svg);
    }
  }

  @media screen and (max-width:768.01px) {
    &__bottom {
      flex-wrap: wrap;
      gap: 30px;
    }

    &__meta {
      flex-wrap: wrap;
    }
  }
}