.slider-nav {
  display: flex;
  user-select: none;
  margin-right: 16px;


  &__btn {
    @include flex-all-center;
    // width: 48px;
    width: clamp(1.5rem, 0.973rem + 2.64vw, 3rem);
    // height: 48px;
    height: clamp(1.5rem, 0.973rem + 2.64vw, 3rem);
    border-radius: 100%;
    transform: translateX(12px);
    z-index: 6;

    & svg {
      width: clamp(0.75rem, 0.486rem + 1.32vw, 1.5rem);
      height: clamp(0.75rem, 0.486rem + 1.32vw, 1.5rem);
    }

    @include transition ($transition-property: (background-color, color));

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--primary);

        & svg {
          @include transition ($transition-property: (color));
          color: var(--white);
        }
      }
    }

    &:active {
      color: var(--primary);
    }

  }

  @media screen and (height < 769px) {
    &__btn {
      width: 24px;
      height: 24px;
    }
  }
}