.slider-nav {
  display: flex;
  user-select: none;

  &__btn {
    @include flex-all-center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    transform: translateX(12px);
    z-index: 6;

    @include transition ($transition-property: (background-color, color));

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--primary);

        & svg {
          @include transition ($transition-property: (color));
          color: var(--white);
        }
      }
    }

    &:active {
      color: var(--active);
    }

  }
}