.table {
  position: relative;
  z-index: 3;
  width: 100%;
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  overflow: hidden;
  border: none;



  &__wrapper {
    border-collapse: collapse;
  }

  &__th {
    padding-top: 31px;
    padding-bottom: 24px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: var(--gray-900);
    text-align: center;

    &:first-child {
      padding-right: 24px;
      padding-left: 24px;
      vertical-align: bottom;
      text-align: left;
    }
  }


  &__heading {
    margin-bottom: 2px;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__per {
    font-size: 18px;
    color: var(--gray-700);
  }

  &__body {
    .table__row:nth-child(odd) {
      background: var(--gray-200);
    }

    tr:last-child {
      height: 100px;
    }


    .table__row {
      @include transition ($transition-property: background-color);

      @media (any-hover: hover) {
        &:hover:not(:last-child) {
          background-color: var(--warning);
        }
      }
    }
  }

  &__col {
    text-align: center;
    height: 56px;
    border: none;

    &:first-child {
      padding-left: 24px;
      vertical-align: middle;
      text-align: left;
    }
  }

  &__check {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    font-size: 0;
    background: url(../images/icons/mark.svg) center / cover no-repeat;
  }

  &__btn {
    margin: 0 auto;
  }

  @media screen and (max-width:768.01px) {
    width: 850px;

    &__wrapper {
      overflow-x: auto;
    }
  }
}