.team {
  position: relative;
  padding-top: 103px;
  padding-bottom: 121px;

  &::before {
    content: "";
    position: absolute;
    left: -240px;
    bottom: 0;
    width: 791px;
    height: 638px;
    background-image: -webkit-image-set(url(../images/team/bg-image1@1x.png) type("image/png") 1x,
        url(../images/team/bg-image1@2x.png) type("image/png") 2x);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  &__descr {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--gray-700);
    margin-bottom: 60px;
  }

  &__list {
    gap: 60px 30px;
    margin-bottom: 81px;
  }

  &__item {
    grid-column: 3 span;
  }

  &__thumb {
    position: relative;
    margin-bottom: 16px;
  }

  &__hover {
    position: absolute;
    padding: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    background-color: rgba(#ff5a30, .7);
    @include transition ($transition-property: transform);
    transform: translateY(calc(100% + 1px));
  }

  &__item:hover .team__hover,
  &__item:focus .team__hover {
    transform: translateY(0);
  }

  &__caption {
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 4px;
  }

  &__plea {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--gray-900);
  }

  &__plea-link {
    display: inline-block;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--primary);
  }
}