.team {
  position: relative;
  padding-top: 103px;
  padding-bottom: 121px;

  &::before {
    content: "";
    position: absolute;
    left: -240px;
    bottom: 0;
    max-width: 791px;
    width: 100%;
    height: 638px;
    background-image: -webkit-image-set(url(../images/team/bg-image1@1x.png) type("image/png") 1x,
        url(../images/team/bg-image1@2x.png) type("image/png") 2x);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  &__descr {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--gray-700);
    margin-bottom: 60px;
  }

  &__list {
    gap: 60px 30px;
    margin-bottom: 81px;
  }

  &__item {
    grid-column: 3 span;

    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    &:focus-within {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    &:active {
      color: var(--primary);
    }
  }

  &__thumb {
    position: relative;
    margin-bottom: 16px;
  }

  &__hover {
    position: absolute;
    padding: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    background-color: rgba(#ff5a30, .7);
    @include transition ($transition-property: transform);
    transform: translateY(calc(100% + 1px));
  }

  &__item:hover .team__hover,
  &__item:focus .team__hover {
    transform: translateY(0);
  }

  &__caption {
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 4px;
  }

  &__plea {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--gray-900);
  }

  &__plea-link {
    position: relative;
    z-index: 5;
    display: inline-block;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--primary);

    @include transition ($transition-property: color);

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--danger);
      }
    }

    &:active {
      color: var(--primary);
    }
  }

  @media screen and (width < 1170.99px) {
    &__list {
      justify-items: center;
    }

    &__item {
      grid-column: 4 span;
    }
  }

  @media screen and (width < 980.99px) {
    &__item {
      grid-column: 6 span;
    }
  }

  @media screen and (width < 585.99px) {
    &::before {
      left: 0;
    }

    &__item {
      grid-column: 12 span;
    }
  }
}