.testimonials {
  // padding-top: 185px;
  padding-top: clamp(4.375rem, 3.276rem + 5.49vw, 7.5rem);
  background-color: var(--gray-200);
  outline: 1px solid red;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    overflow: visible;
  }


  &__content {
    max-width: 600px;
    flex: 1 1 600px;
  }

  &__subtitle {
    // margin-bottom: 60px;
    margin-bottom: clamp(1.875rem, 1.216rem + 3.3vw, 3.75rem);
  }

  &__swiper {
    padding: 0 0 50px;
  }

  blockquote {
    padding-left: 0;
  }

  &__blockquote-text {
    margin-bottom: 23px;
  }

  &__blockquote-name {
    font-weight: 700;
    color: var(--gray-900);
    font-style: normal;


    & span {
      display: block;
      margin-top: 3px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      color: var(--gray-700);
    }
  }

  &__slider-nav {
    justify-content: flex-end;
    margin-top: -82px;
    transform: translateX(12px);
    margin-right: 0;
    position: relative;
    z-index: 5;
  }

  .slider-nav__btn {
    display: inline-flex;
  }

  &__pic {
    border-radius: var(--border-radius);
    position: relative;
    z-index: 5;
    margin-bottom: -60px;
  }

  &__img {
    height: auto;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    &__content {
      max-width: clamp(20.313rem, -31.25rem + 107.42vw, 37.5rem);
    }
  }

  @media screen and (max-width:768.01px) {
    padding-bottom: 62px;

    &__content {
      max-width: 100%;
      width: 100%;
    }

    &__swiper {
      padding: 0;
    }

    &__blockquote {
      padding-left: 32px;
    }

    &__slider-nav {
      margin-top: -62px;
      transform: none;
      width: 90%;
    }

    &__pic {
      display: none;
    }
  }

  @media screen and (height < 601px) {
    padding-bottom: 20px;
  }
}