.testimonials {
  // padding-top: 185px;
  padding-top: clamp(4.375rem, 3.276rem + 5.49vw, 7.5rem);
  background-color: var(--gray-200);

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }


  &__content {
    max-width: 600px;
  }

  &__swiper {
    position: relative;
    overflow: hidden;
  }

  &__subtitle {
    // margin-bottom: 60px;
    margin-bottom: clamp(1.875rem, 1.216rem + 3.3vw, 3.75rem);
  }

  &__blockquote-text {
    margin-bottom: 26px;
  }

  &__blockquote-name {
    font-weight: 700;
    color: var(--gray-900);
    font-style: normal;


    & span {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      color: var(--gray-700);
    }
  }

  &__slider-nav {
    justify-content: flex-end;
    margin-top: -114px;
  }

  &__img {
    border-radius: var(--border-radius);
    position: relative;
    z-index: 5;
    margin-bottom: -60px;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    &__content {
      max-width: clamp(20.313rem, -31.25rem + 107.42vw, 37.5rem);
    }
  }

  @media screen and (width < 768.01px) {

    &__content {
      max-width: 100%;
    }

    &__blockquote {
      padding-left: 32px;
    }

    &__img {
      display: none;
    }
  }
}