.testimonials {
  padding-top: 180px;
  background-color: var(--gray-200);

  &--work {
    padding-top: 80px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }


  &__content {
    max-width: 600px;
  }

  &__swiper {
    position: relative;
  }

  &__subtitle {
    margin-bottom: 60px;
  }

  &__blockquote-text {
    margin-bottom: 26px;
  }

  &__blockquote-name {
    font-weight: 700;
    color: var(--gray-900);
    font-style: normal;


    & span {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      color: var(--gray-700);
    }
  }

  &__slider-nav {
    justify-content: flex-end;
    margin-top: -114px;
  }

  &__img {
    border-radius: var(--border-radius);
    position: relative;
    z-index: 5;
    margin-bottom: -60px;
  }
}