.vacancies-send {
  grid-column-start: 3;
  padding-left: 21px;

  &__title {
    margin-bottom: 24px;
  }

  &__descr {
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 1.5;
  }

  &__btn-box {
    @include flex-aic-jcsb;
  }

  &__btn {
    width: 180px;
  }
}