.vacancies {
  // padding-bottom: 105px;
  padding-bottom: clamp(2.5rem, 1.023rem + 7.39vw, 6.563rem);

  &__inner {
    display: grid;
    grid-template-columns: 7fr 1fr 4fr;
  }

  &__list {
    grid-column-start: 1;
  }


  &__item {


    @include transition ($transition-property: (box-shadow));

    &:not(:last-child) {
      margin-bottom: 24px;
    }


    @media (any-hover: hover) {
      &:hover {
        box-shadow: var(--box-shadow);
      }
    }
  }

  &__article {
    padding: 31px 40px;
    @include flex-aic-jcsb;
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    background: var(--white);
    font-size: 14px;
    line-height: 1.5;
    color: var(--gray-700);
    gap: 10px;
  }

  &__location {
    position: relative;
    margin-right: 8px;
    padding-left: calc(16px + 8px);
    padding-right: 16px;
    background: url(../images/icons/location.svg) left center / 16px 16px no-repeat;

    &::after {
      position: absolute;
      content: "";

      top: 50%;
      transform: translateY(-50%);
      right: 0;

      width: 1px;
      height: 11px;
      background-color: var(--gray-600);
      border-radius: var(--border-radius);
    }
  }

  &__species {
    padding-left: calc(16px + 8px);
    background: url(../images/icons/clock.svg) left center / 16px 16px no-repeat;
  }

  &__posicion {
    margin-top: 8px;
  }

  @media screen and (width < 1025px) {
    &__article {
      flex-direction: column;
    }
  }

  @media screen and (width < 768.01px) {
    &__inner {
      grid-template-columns: repeat(12, 1fr);
    }

    &__list {
      grid-column: 12 span;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    &__article {
      padding: 20px;
      text-align: center;
    }
  }
}