.vacancies-send {
  grid-column-start: 3;
  padding-left: 21px;

  &__title {
    margin-bottom: 24px;
  }

  &__descr {
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 1.5;
  }

  &__btn-box {
    @include flex-aic-jcsb;
    gap: 30px 10px;
  }

  &__btn {
    width: 180px;
  }

  @media screen and (max-width:1025.01px) {
    &__btn-box {
      flex-wrap: wrap;
    }

    &__btn {
      width: 100%;
    }
  }

  @media screen and (max-width:768.01px) {
    grid-column: span 12;
    width: 100%;
  }
}