.vacancies-form {
  &__title {
    margin-bottom: 24px;
    text-align: center;
  }

  &__label {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__input {
    margin-top: 8px;
  }

  &__btn {
    width: 100%;
    margin-top: 40px;
  }


}