.video {
  @include flex-all-center;
  flex-direction: column;
  padding-bottom: 60px;


  &__block {
    position: relative;
    overflow: visible;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);

    // анимация
    transform-origin: center center;
    transform: scale(0.5);


    &.is-visible {
      transform: scale(1);
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 5;
      background: var(--gray-900);
      opacity: 0.6;
      pointer-events: none; // важно, чтобы не мешал кликам
      @include transition ($transition-property: (opacity, visibility));


      &--played::before {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__player {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }

  &__button {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex-all-center;
    z-index: 6;
    @include transition ($transition-property: (opacity, visibility, background-color));

    svg {
      @include transition ($transition-property: (transform));
    }

    // Внешнее кольцо
    &::after {
      content: '';
      position: absolute;
      inset: -16px;
      border-radius: 50%;
      background-color: var(--primary);
      opacity: 0.12;
      // background-color: rgba(var(--primary-rgb), 0.2);
      transition: transform 0.4s ease, opacity 0.4s ease;
      z-index: 1;
      pointer-events: none;
    }

    &:focus {
      outline: 2px solid var(--danger);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--danger);

        &::after {
          transform: scale(1.2);
          // opacity: 0.4;
        }

        svg {
          transform: scale(1.2);
        }
      }
    }

    &:active {
      background-color: var(--danger);

      &::after {
        transform: scale(1.4);
        opacity: 0.6;
      }

      svg {
        transform: scale(1.2);
      }
    }

    &--played {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__muted {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .12);
    left: 52px;
    bottom: 12px;
    transform: translate(-50%, -50%);
    @include flex-all-center;
    z-index: 3;

    @include transition ($transition-property: (background-color, color));

    &:focus {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, .4);
      }
    }

    &:active {
      background-color: rgba(255, 255, 255, .4);
    }
  }


}