.weoffer {
  padding-bottom: 60px;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // gap: 0 105px;
    gap: 0 clamp(3.125rem, -2.589rem + 11.9vw, 6.563rem);
  }

  &__content {
    grid-column: 5 span;
    @include appearance(right, 50px, 0.6s, 0.4s);
  }

  &__title {
    font-family: 'Lato';
    text-align: left;
    margin-bottom: 60px;
    font-weight: 900;
  }

  @media screen and (width < 768.01px) {
    &__container {
      display: block;
    }
  }
}