<section class="categories container">
  <h2 class="categories__subtitle section-subtitle reveal-top section-subtitle section-subtitle--center">Categories
  </h2>
  <ul class="categories-nav">
    <li class="categories-nav__item appearance-left" data-animate="sync">
      <button class="categories-nav__btn" data-filter=".all">
        All News
      </button>
    </li>
    <li class="categories-nav__item appearance-right" data-animate="sync">
      <button class="categories-nav__btn" data-filter=".news">
        Company News
      </button>
    </li>
    <li class="categories-nav__item appearance-left" data-animate="sync">
      <button class="categories-nav__btn" data-filter=".innovation">
        Innovation
      </button>
    </li>
    <li class="categories-nav__item appearance-right" data-animate="sync">
      <button class="categories-nav__btn" data-filter=".industry">
        Industry News
      </button>
    </li>
    <li class="categories-nav__item appearance-left" data-animate="sync">
      <button class="categories-nav__btn" data-filter=".expert">
        Expert Tips
      </button>
    </li>
    <li class="categories-nav__item appearance-right" data-animate="sync">
      <button class="categories-nav__btn" data-filter=".marketing">
        Marketing
      </button>
    </li>
  </ul>
  <div class="categories__box">
    <ul class="categories__list grid mix all">
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif"
                srcset="./images/news-section/image1@1x.avif 1x, ./images/news-section/image1@2x.avif 2x">
              <source type="image/webp"
                srcset="./images/news-section/image1@1x.webp 1x, ./images/news-section/image1@2x.webp 2x">
              <img class="images__img " src="./images/news-section/image1@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                How to&nbsp;Build Climate Change-Resilient Infrastructure
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
              venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                    ./images/news-section/image4@1x.avif 1x,
                                    ./images/news-section/image4@2x.avif 2x">
              <source type="image/webp" srcset="
                                    ./images/news-section/image4@1x.webp 1x,
                                    ./images/news-section/image4@2x.webp 2x">
              <img class="images__img " src="
                                    ./images/news-section/image4@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                How Construction Can Help Itself
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus
              augue faucibus
              maecenas lacus...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                    ./images/news-section/image5@1x.avif 1x,
                                    ./images/news-section/image5@2x.avif 2x">
              <source type="image/webp" srcset="
                                    ./images/news-section/image5@1x.webp 1x,
                                    ./images/news-section/image5@2x.webp 2x">
              <img class="images__img" src="
                                    ./images/news-section/image5@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                The Difference Between a&nbsp;Digger and an&nbsp;Excavator
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer duis et&nbsp;nulla lobortis
              cursus. Viverra
              erat sollicitudin praesent viverra...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                    ./images/news-section/image6@1x.avif 1x,
                                    ./images/news-section/image6@2x.avif 2x">
              <source type="image/webp" srcset="
                                    ./images/news-section/image6@1x.webp 1x,
                                    ./images/news-section/image6@2x.webp 2x">
              <img class="images__img " src="
                                    ./images/news-section/image6@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Building Construction Hand Tools
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id&nbsp;dolor, tristique massa.
              Fames lobortis
              orci rutrum bibendum integer...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                    ./images/news-section/image7@1x.avif 1x,
                                    ./images/news-section/image7@2x.avif 2x">
              <source type="image/webp" srcset="
                                    ./images/news-section/image7@1x.webp 1x,
                                    ./images/news-section/image7@2x.webp 2x">
              <img class="images__img" src="
                                    ./images/news-section/image7@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Top&nbsp;10 Construction Trends
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Dignissim sed enim, eleifend morbi condimentum. Congue id&nbsp;quis vulputate dignissim eget.
              Ac&nbsp;ullamcorper nunc
              habitasse enim interdum platea...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif"
                srcset="./images/news-section/image8@1x.avif 1x, ./images/news-section/image8@2x.avif 2x">
              <source type="image/webp"
                srcset="./images/news-section/image8@1x.webp 1x, ./images/news-section/image8@2x.webp 2x">
              <img class="images__img" src="./images/news-section/image8@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Types of&nbsp;Flooring Materials
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et&nbsp;mauris, aenean. Vel arcu
              amet in&nbsp;sem
              parturient integer duis et&nbsp;nulla...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="categories__list grid mix news">
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image4@1x.avif 1x,
                                        ./images/news-section/image4@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image4@1x.webp 1x,
                                        ./images/news-section/image4@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image4@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                How Construction Can Help Itself
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus
              augue faucibus
              maecenas lacus...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image6@1x.avif 1x,
                                        ./images/news-section/image6@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image6@1x.webp 1x,
                                        ./images/news-section/image6@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image6@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Building Construction Hand Tools
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id&nbsp;dolor, tristique massa.
              Fames lobortis
              orci rutrum bibendum integer...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image7@1x.avif 1x,
                                        ./images/news-section/image7@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image7@1x.webp 1x,
                                        ./images/news-section/image7@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image7@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Top&nbsp;10 Construction Trends
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Dignissim sed enim, eleifend morbi condimentum. Congue id&nbsp;quis vulputate dignissim eget.
              Ac&nbsp;ullamcorper nunc
              habitasse enim interdum platea...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image8@1x.avif 1x,
                                        ./images/news-section/image8@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image8@1x.webp 1x,
                                        ./images/news-section/image8@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image8@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Types of&nbsp;Flooring Materials
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et&nbsp;mauris, aenean. Vel arcu
              amet in&nbsp;sem
              parturient integer duis et&nbsp;nulla...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="categories__list grid mix innovation">
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                            ./images/news-section/image4@1x.avif 1x,
                                            ./images/news-section/image4@2x.avif 2x">
              <source type="image/webp" srcset="
                                            ./images/news-section/image4@1x.webp 1x,
                                            ./images/news-section/image4@2x.webp 2x">
              <img class="images__img" src="
                                            ./images/news-section/image4@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                How Construction Can Help Itself
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus
              augue faucibus
              maecenas lacus...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                            ./images/news-section/image6@1x.avif 1x,
                                            ./images/news-section/image6@2x.avif 2x">
              <source type="image/webp" srcset="
                                            ./images/news-section/image6@1x.webp 1x,
                                            ./images/news-section/image6@2x.webp 2x">
              <img class="images__img" src="
                                            ./images/news-section/image6@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Building Construction Hand Tools
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id&nbsp;dolor, tristique massa.
              Fames lobortis
              orci rutrum bibendum integer...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                            ./images/news-section/image7@1x.avif 1x,
                                            ./images/news-section/image7@2x.avif 2x">
              <source type="image/webp" srcset="
                                            ./images/news-section/image7@1x.webp 1x,
                                            ./images/news-section/image7@2x.webp 2x">
              <img class="images__img" src="
                                            ./images/news-section/image7@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Top&nbsp;10 Construction Trends
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Dignissim sed enim, eleifend morbi condimentum. Congue id&nbsp;quis vulputate dignissim eget.
              Ac&nbsp;ullamcorper nunc
              habitasse enim interdum platea...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="categories__list grid mix industry">
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image4@1x.avif 1x,
                                        ./images/news-section/image4@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image4@1x.webp 1x,
                                        ./images/news-section/image4@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image4@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                How Construction Can Help Itself
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus
              augue faucibus
              maecenas lacus...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image5@1x.avif 1x,
                                        ./images/news-section/image5@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image5@1x.webp 1x,
                                        ./images/news-section/image5@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image5@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                The Difference Between a&nbsp;Digger and an&nbsp;Excavator
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer duis et&nbsp;nulla lobortis
              cursus. Viverra
              erat sollicitudin praesent viverra...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image6@1x.avif 1x,
                                        ./images/news-section/image6@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image6@1x.webp 1x,
                                        ./images/news-section/image6@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image6@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Building Construction Hand Tools
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id&nbsp;dolor, tristique massa.
              Fames lobortis
              orci rutrum bibendum integer...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image7@1x.avif 1x,
                                        ./images/news-section/image7@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image7@1x.webp 1x,
                                        ./images/news-section/image7@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image7@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Top&nbsp;10 Construction Trends
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Dignissim sed enim, eleifend morbi condimentum. Congue id&nbsp;quis vulputate dignissim eget.
              Ac&nbsp;ullamcorper nunc
              habitasse enim interdum platea...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image8@1x.avif 1x,
                                        ./images/news-section/image8@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image8@1x.webp 1x,
                                        ./images/news-section/image8@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image8@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Types of&nbsp;Flooring Materials
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et&nbsp;mauris, aenean. Vel arcu
              amet in&nbsp;sem
              parturient integer duis et&nbsp;nulla...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="categories__list grid mix expert">
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                    ./images/news-section/image1@1x.avif 1x,
                                    ./images/news-section/image1@2x.avif 2x">
              <source type="image/webp" srcset="
                                    ./images/news-section/image1@1x.webp 1x,
                                    ./images/news-section/image1@2x.webp 2x">
              <img class="images__img" src="
                                    ./images/news-section/image1@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                How to&nbsp;Build Climate Change-Resilient Infrastructure
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
              venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                    ./images/news-section/image6@1x.avif 1x,
                                    ./images/news-section/image6@2x.avif 2x">
              <source type="image/webp" srcset="
                                    ./images/news-section/image6@1x.webp 1x,
                                    ./images/news-section/image6@2x.webp 2x">
              <img class="images__img" src="
                                    ./images/news-section/image6@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Building Construction Hand Tools
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id&nbsp;dolor, tristique massa.
              Fames lobortis
              orci rutrum bibendum integer...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                    ./images/news-section/image7@1x.avif 1x,
                                    ./images/news-section/image7@2x.avif 2x">
              <source type="image/webp" srcset="
                                    ./images/news-section/image7@1x.webp 1x,
                                    ./images/news-section/image7@2x.webp 2x">
              <img class="images__img" src="
                                    ./images/news-section/image7@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Top&nbsp;10 Construction Trends
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Dignissim sed enim, eleifend morbi condimentum. Congue id&nbsp;quis vulputate dignissim eget.
              Ac&nbsp;ullamcorper nunc
              habitasse enim interdum platea...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                    ./images/news-section/image8@1x.avif 1x,
                                    ./images/news-section/image8@2x.avif 2x">
              <source type="image/webp" srcset="
                                    ./images/news-section/image8@1x.webp 1x,
                                    ./images/news-section/image8@2x.webp 2x">
              <img class="images__img" src="
                                    ./images/news-section/image8@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Types of&nbsp;Flooring Materials
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et&nbsp;mauris, aenean. Vel arcu
              amet in&nbsp;sem
              parturient integer duis et&nbsp;nulla...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <ul class="categories__list grid mix marketing">
      <li class=" categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image1@1x.avif 1x,
                                        ./images/news-section/image1@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image1@1x.webp 1x,
                                        ./images/news-section/image1@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image1@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                How to&nbsp;Build Climate Change-Resilient Infrastructure
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
              venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image4@1x.avif 1x,
                                        ./images/news-section/image4@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image4@1x.webp 1x,
                                        ./images/news-section/image4@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image4@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                How Construction Can Help Itself
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus
              augue faucibus
              maecenas lacus...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image5@1x.avif 1x,
                                        ./images/news-section/image5@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image5@1x.webp 1x,
                                        ./images/news-section/image5@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image5@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                The Difference Between a&nbsp;Digger and an&nbsp;Excavator
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer duis et&nbsp;nulla lobortis
              cursus. Viverra
              erat sollicitudin praesent viverra...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image6@1x.avif 1x,
                                        ./images/news-section/image6@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image6@1x.webp 1x,
                                        ./images/news-section/image6@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image6@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Building Construction Hand Tools
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id&nbsp;dolor, tristique massa.
              Fames lobortis
              orci rutrum bibendum integer...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image7@1x.avif 1x,
                                        ./images/news-section/image7@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image7@1x.webp 1x,
                                        ./images/news-section/image7@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image7@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Top&nbsp;10 Construction Trends
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Dignissim sed enim, eleifend morbi condimentum. Congue id&nbsp;quis vulputate dignissim eget.
              Ac&nbsp;ullamcorper nunc
              habitasse enim interdum platea...
            </p>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="news-box">
          <div class="images__thumb images__thumb--news">
            <picture>
              <source type="image/avif" srcset="
                                        ./images/news-section/image8@1x.avif 1x,
                                        ./images/news-section/image8@2x.avif 2x">
              <source type="image/webp" srcset="
                                        ./images/news-section/image8@1x.webp 1x,
                                        ./images/news-section/image8@2x.webp 2x">
              <img class="images__img" src="
                                        ./images/news-section/image8@1x.jpg" loading="lazy" decoding="async"
                alt="News cover">
            </picture>
          </div>
          <div class="news-box__content">
            <a class="news-box__title-link" href="./news1.html">
              <h3 class="news-box__title section__titleh3">
                Types of&nbsp;Flooring Materials
              </h3>
            </a>

            <div class="news-box__meta">
              <a class="news-box__meta-item news-box__author" href="">Industry News</a>
              <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
              <a class="news-box__meta-item news-box__comments" href="">4 comments</a>
            </div>

            <p class="news-box__descr">
              Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et&nbsp;mauris, aenean. Vel arcu
              amet in&nbsp;sem
              parturient integer duis et&nbsp;nulla...
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
  <ul class="categories__pag pagination">
    <li class="pagination__item">
      <a class="pagination__link pagination__link--active" href="">
        1
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="">
        2
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="">
        3
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="">
        4
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link " href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" fill="none">
          <path fill="currentColor" fill-rule="evenodd"
            d="M11.793.793a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L14.586 7H1a1 1 0 0 1 0-2h13.586l-2.793-2.793a1 1 0 0 1 0-1.414Z"
            clip-rule="evenodd" />
        </svg>

      </a>
    </li>

  </ul>
</section>