<!-- clients-about.html -->
{% set sectionClass = "clients" %}
{% set subtitle = "Our clients" %}
{% set subtitleClass = "section-subtitle section-subtitle--center" %}
{% set description = "" %}
{% include "clients-sample.njk" %}
{% set listClass = "clients__list running-line-left" %}
{% include "clients-triker.njk" %}