<div class="clients__ticker">
  <div class="clients__ticker-track">

    <ul class="{{ listClass | default('clients__list running-line-right') }}">
      <li class=" clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo1.png" alt="Client Company InDepth Consulting"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Higher fit website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo2.png" alt="Client Company Higher fit"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit SENTIVAL CONSULTING website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo3.png" alt="Client Company SENTIVAL CONSULTING"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit HAPPY HOME website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo4.png" alt="Client Company HAPPY HOME"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit ForSale website" target="_blank" rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo5.png" alt="Client Company ForSale" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Sunset Realty website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo6.png" alt="Client Company Sunset Realty"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Atlantis Health website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo7.png" alt="Client Company Atlantis Health"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Del Mar Strategy website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo8.png" alt="Client Company Del Mar Strategy"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Complete Health website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo9.png" alt="Client Company Complete Health"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit NATIONAL website" target="_blank" rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo10.png" alt="Client Company NATIONAL"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit INITIATIVE GUM website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo11.png" alt="Client Company INITIATIVE GUM"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit United Strategy website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo12.png" alt="Client Company United Strategy"
            width="120" height="64">
        </a>
      </li>



      <li class=" clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo1.png" alt="Client Company InDepth Consulting"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Higher fit website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo2.png" alt="Client Company Higher fit"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit SENTIVAL CONSULTING website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo3.png" alt="Client Company SENTIVAL CONSULTING"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit HAPPY HOME website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo4.png" alt="Client Company HAPPY HOME"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit ForSale website" target="_blank" rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo5.png" alt="Client Company ForSale" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Sunset Realty website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo6.png" alt="Client Company Sunset Realty"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Atlantis Health website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo7.png" alt="Client Company Atlantis Health"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Del Mar Strategy website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo8.png" alt="Client Company Del Mar Strategy"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Complete Health website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo9.png" alt="Client Company Complete Health"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit NATIONAL website" target="_blank" rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo10.png" alt="Client Company NATIONAL"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit INITIATIVE GUM website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo11.png" alt="Client Company INITIATIVE GUM"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit United Strategy website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo12.png" alt="Client Company United Strategy"
            width="120" height="64">
        </a>
      </li>


      <li class=" clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo1.png" alt="Client Company InDepth Consulting"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Higher fit website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo2.png" alt="Client Company Higher fit"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit SENTIVAL CONSULTING website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo3.png" alt="Client Company SENTIVAL CONSULTING"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit HAPPY HOME website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo4.png" alt="Client Company HAPPY HOME"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit ForSale website" target="_blank" rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo5.png" alt="Client Company ForSale" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Sunset Realty website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo6.png" alt="Client Company Sunset Realty"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Atlantis Health website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo7.png" alt="Client Company Atlantis Health"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Del Mar Strategy website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo8.png" alt="Client Company Del Mar Strategy"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Complete Health website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo9.png" alt="Client Company Complete Health"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit NATIONAL website" target="_blank" rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo10.png" alt="Client Company NATIONAL"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit INITIATIVE GUM website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo11.png" alt="Client Company INITIATIVE GUM"
            width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit United Strategy website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="images/clients/client-logo12.png" alt="Client Company United Strategy"
            width="120" height="64">
        </a>
      </li>
    </ul>
  </div>
</div>