<!-- clients-about.html -->
{% set sectionClass = "clients" %}
{% set subtitle = "Our partners" %}
{% set subtitleClass = "section-subtitle reveal-top section-subtitle--center" %}
{% set description = "We&nbsp;are supported by&nbsp;12+&nbsp;industry bodies and media partners" %}
{% set descriptionClass = "clients__descr" %}
{% include "clients-sample.njk" %}
{% set listClass = "clients__list running-line-left" %}
{% include "clients-triker.njk" %}