<div class="clients__ticker">
  <div class="clients__ticker-track">

    <ul class="{{ listClass | default('clients__list running-line-right') }}">
      <li class=" clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo1.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo2.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo3.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo4.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo5.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo6.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo7.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo8.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo9.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo10.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo11.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo12.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>



      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo1.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo2.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo3.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo4.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo5.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo6.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo7.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo8.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo9.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo10.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo11.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo12.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>


      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo1.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo2.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo3.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo4.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo5.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo6.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo7.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo8.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo9.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo10.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo11.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="" aria-label="Visit Client Company website" target="_blank"
          rel="noopener noreferrer">
          <img class="clients__link-svg" src="./images/clients/client-logo12.png" alt="Client Company logo" width="120"
            height="64">
        </a>
      </li>
    </ul>
  </div>
</div>