{% set sectionClass = "clients" %}
{% set subtitle = "Supported by 12+ partners" %}
{% set subtitleClass = "partners__title section-subtitle section-subtitle--center reveal-top" %}
{% set description = "" %}
{% include "clients-sample.njk" %}