<section class="facts">
  <div class="container">
    <h2 class="section-subtitle section-subtitle--center facts__subtitle reveal-top">Some facts and
      figures
    </h2>
    <!-- <ul class="facts__list grid">
      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle facts-element__circle--one-color" data-percent="98">
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke-width="15">
              </circle>
              <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke-width="15">
              </circle>
            </svg>
            <div class="facts-element__value-wrapper">
              <span class="facts-element__value">98%</span>
            </div>
          </div>
          <span class="facts-element__text">Totally satisfied clients</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle facts-element__circle--two-color" data-percentage="true" data-full="30"
            data-value="20">
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke="yellow" stroke-width="15">
              </circle>
              <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke="crimson" stroke-width="15">
              </circle>
            </svg>
            <div class="facts-element__value-wrapper">
              <span class="facts-element__value">20</span>
            </div>
          </div>
          <span class="facts-element__text">Years of experience</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle facts-element__circle--three-color" data-percentage="true" data-full="10000"
            data-value="9452">
            <svg class="circle-anim" viewBox="-10 -10 320 320">
              <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke="yellow" stroke-width="15">
              </circle>
              <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke="crimson" stroke-width="15">
              </circle>
            </svg>
            <div class="facts-element__value-wrapper">
              <span class="facts-element__value"></span>
            </div>
          </div>
          <span class="facts-element__text">Working hours spent</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
        <div class="facts-element__circle facts-element__circle--four-color" data-percent="100">
          <svg class="circle-anim" viewBox="-10 -10 320 320">
            <circle class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke="yellow" stroke-width="15">
            </circle>
            <circle class="progress" r="150" cx="150" cy="150" fill="none" stroke="crimson" stroke-width="15">
            </circle>
          </svg>
          <div class="facts-element__value-wrapper">
            <span class="facts-element__value">100%</span>
          </div>
        </div>
        <span class="facts-element__text">Succeeded projects</span>
        </div>
      </li>
    </ul> -->

    <ul class="facts__list grid">
      <li class="facts__item">
        <div class="facts-element one">
          <div class="facts-element__circle">
            <div class="facts-element__svg">
              <svg class="animate-circle" width="148" height="148" viewBox="0 0 148 148" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="animate-circle__progress" cx="74" cy="74" r="71" stroke="#F89828" stroke-width="6" />
              </svg>
            </div>
            <span class="facts-element__value" data-percent="98%">0%</span>

          </div>
          <span class="facts-element__text">Totally satisfied clients</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element two">
          <div class="facts-element__circle">
            <div class="facts-element__svg">
              <svg class="animate-circle" width="148" height="148" viewBox="0 0 148 148" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="animate-circle__progress" cx="74" cy="74" r="71" stroke="#f52f6e" stroke-width="6" />
              </svg>
            </div>
            <span class="facts-element__value" data-percent="20">0</span>
          </div>
          <span class="facts-element__text">Years of experience</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element three">
          <div class="facts-element__circle">
            <div class="facts-element__svg">
              <svg width="148" height="148" viewBox="0 0 148 148" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle class="animate-circle__progress" cx="74" cy="74" r="71" stroke="#5a87fc" stroke-width="6" />
              </svg>
            </div>

            <span class="facts-element__value" data-percent="9452">0</span>

          </div>
          <span class="facts-element__text">Working hours spent</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element four">
          <div class="facts-element__circle">
            <div class="facts-element__svg">
              <svg width="148" height="148" viewBox="0 0 148 148" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle class="animate-circle__progress" cx="74" cy="74" r="71" stroke="#03cea4" stroke-width="6" />
              </svg>
            </div>
            <!-- <div class="facts-element__value-wrapper"> -->
            <span class="facts-element__value" data-percent="100%">0%</span>
            <!-- </div> -->
          </div>
          <span class="facts-element__text">Succeeded projects</span>
        </div>
      </li>
    </ul>
  </div>
</section>