<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description"
  content="{{ description or 'Createx Construction Bureau — the leading construction company in the USA. We deliver high-quality projects with excellence and integrity.' }}">

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{{ title or 'Createx Construction Bureau' }}">
<meta property="og:description" content="{{ ogDescription or 'Quality construction and exemplary service' }}">
<meta property="og:image" content="{{ ogImage or 'https://larukhina-tatiana.github.io/Createx/images/og-1.jpg' }}">
<meta property="og:url" content="{{ ogUrl or 'https://larukhina-tatiana.github.io/Createx/' }}">
<meta property="og:type" content="website">

<title>{{ title or 'Createx Construction' }}</title>

<!-- Icons -->
<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
<link rel="shortcut icon" href="favicons/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="favicons/android-chrome-512x512.png">

<!-- Preload -->
<link rel="preload" href="fonts/Ubuntu-R.woff2" as="font" type="font/woff2" crossorigin>


{% import "includes/hero-preload.njk" as preload %}
{{ preload.preloadHero(bodyClass) }}





<!-- Manifest -->
<link rel="manifest" href="favicons/site.webmanifest">

<!-- Styles -->
<link rel="stylesheet" href="/css/style.min.css">