<section class="hero reveal-bottom">
  <h1 class="visually-hidden hero__title section__title reveal-top">CREATE<span>X</span> CONSTRUCTION</h1>


  <div class="hero-slider">

    <button class="hero-arrow hero-prev" aria-label="Previous">
      <img src="images/icons/hero-arrow-prev.svg" alt="Previous arrow" width="18" height="12">
    </button>
    <button class="hero-arrow hero-next" aria-label="Next">
      <img src="images/icons/hero-arrow-next.svg" alt="Next arrow" width="18" height="12">
    </button>

    <div class="swiper-wrapper">
      <div class="swiper-slide hero-slide hero-slide--bg1">

        <div class="container">
          <div class="hero__content">
            <p class="hero__title section__title reveal-top-init">CREATE<span>X</span> CONSTRUCTION</p>
            <p class="hero__descr reveal-bottom-init">
              Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
              Pellentesque nec
              turpis purus eget pellentesque integer ipsum elementum felis.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="./about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide hero-slide hero-slide--news">

        <div class="container">
          <div class="hero__content">
            <p class="hero__title section__title reveal-top-init">CREATE<span>X</span> CONSTRUCTION
            </p>
            <p class="hero__descr reveal-bottom-init">
              Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
              Pellentesque nec
              turpis purus eget pellentesque integer ipsum elementum felis.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="./about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-slide hero-slide hero-slide--history">
        <div class="container">
          <div class="hero__content">
            <p class="hero__title section__title reveal-top">CREATE<span>X</span> CONSTRUCTION</p>
            <p class="hero__descr reveal-bottom-init">
              Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
              Pellentesque nec
              turpis purus eget pellentesque integer ipsum elementum felis.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="./about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide hero-slide hero-slide--services">
        <div class="container">
          <div class="hero__content">
            <p class="hero__title section__title reveal-top-init">CREATE<span>X</span> CONSTRUCTION
            </p>
            <p class="hero__descr reveal-bottom-init">
              Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
              Pellentesque nec
              turpis purus eget pellentesque integer ipsum elementum felis.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll  pulse" href="./about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="swiper-pagination hero__pagination"></div>
  </div>
</section>