<section class="hero reveal-bottom">
  <h1 class="visually-hidden hero__title section__title">CREATE<span>X</span> CONSTRUCTION</h1>


  <div class="hero-slider">

    <button class="hero-arrow hero-prev" aria-label="Previous">
      <img src="images/icons/hero-arrow-prev.svg" alt="Previous arrow" width="18" height="12">
    </button>
    <button class="hero-arrow hero-next" aria-label="Next">
      <img src="images/icons/hero-arrow-next.svg" alt="Next arrow" width="18" height="12">
    </button>

    <div class="swiper-wrapper">
      <div class="swiper-slide hero-slide hero-slide--bg1">

        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title section__title reveal-top-init">CREATE<span>X</span> CONSTRUCTION</h2>
            <p class="hero__descr reveal-bottom-init">
              We don't just build buildings - we create spaces for living, working and the future.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide hero-slide hero-slide--bg2">

        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title section__title">CREATE<span>X</span> CONSTRUCTION
            </h2>
            <p class="hero__descr reveal-bottom-init">
              Ideas embodied in concrete and glass.
              Each project is a dialogue between form, function and environment. We design with respect for space.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-slide hero-slide hero-slide--bg3">
        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title section__title ">CREATE<span>X</span> CONSTRUCTION</h2>
            <p class="hero__descr reveal-bottom-init">
              We build based on advanced solutions Innovative materials, BIM modeling and automation – all for the sake
              of precision
              and efficiency.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide hero-slide hero-slide--bg4">
        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title section__title reveal-top-init">CREATE<span>X</span> CONSTRUCTION
            </h2>
            <p class="hero__descr reveal-bottom-init">
              People who make the impossible possible Our engineers, architects and craftsmen are a close-knit team
              united by one
              goal: high-quality results.
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll  pulse" href="about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slide hero-slide--bg5">

        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title section__title reveal-top-init">CREATE<span>X</span> CONSTRUCTION</h2>
            <p class="hero__descr reveal-bottom-init">
              25 years on the market. Hundreds of completed projects. We know how to turn a drawing into reality -
              reliably,
              accurately and on time.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide hero-slide hero-slide--bg6">

        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title section__title reveal-top-init">CREATE<span>X</span> CONSTRUCTION
            </h2>
            <p class="hero__descr reveal-bottom-init">
              We build with respect for people and the planet Sustainability, safety and social responsibility are not
              just words, but
              part of our strategy.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-slide hero-slide hero-slide--bg7">
        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title section__title">CREATE<span>X</span> CONSTRUCTION</h2>
            <p class="hero__descr reveal-bottom-init">
              From private homes to business centers Our projects speak for themselves. We are proud of what we create -
              and we are
              ready to show it to you.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slide hero-slide--bg8">
        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title section__title">CREATE<span>X</span> CONSTRUCTION</h2>
            <p class="hero__descr reveal-bottom-init">
              Ready to build together? Contact us and let's get started on your project today.
            </p>
            <div class="hero__buttons reveal-top-init">
              <a class="button button--large button--link animate-on-scroll pulse" href="about.html">Learn
                more about us</a>
              <a class="button button--large" href="#request-form">SUBMIT REQUEST</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="swiper-pagination hero__pagination"></div>
  </div>
</section>