<div class="singlepost__bottom">
  <div class="singlepost__meta">
    <a class="singlepost__item singlepost__item--author singlepost__item--active"
      href="news.html?filter=marketing">Marketing</a>
    <time class="singlepost__item singlepost__item--date" datetime="2024-08-15">June 15, 2024</time>
    <a class="singlepost__item singlepost__item--comments" href="#post-comments">4 comments</a>
  </div>

  {% set contextClass = 'news' %}
  {% set icons = [
  { name: 'facebook', label: 'Facebook', url: 'https://facebook.com/createx' },
  { name: 'linked-in', label: 'LinkedIn', url: 'https://linkedin.com/company/createx' },
  { name: 'twitter', label: 'Share on Twitter', url: 'https://twitter.com/share?url=news-url' }
  ] %}

  {% include "social-media.njk" %}
</div>