<section class="history reveal-bottom">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="portfolio-section-subtitle reveal-top section-subtitle reveal-top">Our history</h2>
      <div class="slider-nav">
        <button class="slider-nav__btn slider-btn history__prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
            <path fill="currentColor" fill-rule="evenodd"
              d="M9.207 17.207a1 1 0 0 1-1.414 0l-4.5-4.5a1 1 0 0 1 0-1.414l4.5-4.5a1 1 0 0 1 1.414 1.414L6.414 11H20a1 1 0 1 1 0 2H6.414l2.793 2.793a1 1 0 0 1 0 1.414Z"
              clip-rule="evenodd" />
          </svg>
        </button>
        <button class="slider-nav__btn slider-btn history__next">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
            <path fill="currentColor" fill-rule="evenodd"
              d="M14.793 6.793a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L17.586 13H4a1 1 0 1 1 0-2h13.586l-2.793-2.793a1 1 0 0 1 0-1.414Z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>

    <div class="history__content grid">
      <nav class="history__list-nav history-nav appearance-left" aria-label="Timeline Navigation">
        <ul>
          <li class="history-nav__item">
            <button class="history-nav__btn history-nav__btn--active " aria-controls="present-slide"
              aria-expanded="true">
              Present
            </button>
          </li>
          <li class="history-nav__item">
            <button class="history-nav__btn" aria-controls="march-2023-slide" aria-expanded="false">
              March 2023
            </button>
          </li>
          <li class="history-nav__item">
            <button class="history-nav__btn" aria-controls="november-2020-slide" aria-expanded="false">
              November 2020
            </button>
          </li>
          <li class="history-nav__item">
            <button class="history-nav__btn" aria-controls="july-2018-slide" aria-expanded="false">
              July 2018
            </button>
          </li>
          <li class="history-nav__item">
            <button class="history-nav__btn" aria-controls="august 2015-slide" aria-expanded="false">
              August 2015
            </button>
          </li>
          <li class="history-nav__item">
            <button class="history-nav__btn" aria-controls="february-2009-slide" aria-expanded="false">
              February 2009
            </button>
          </li>
          <li class="history-nav__item">
            <button class="history-nav__btn" aria-controls="may-2007-slide" aria-expanded="false">
              May 2007
            </button>
          </li>
          <li class="history-nav__item">
            <button class="history-nav__btn" aria-controls="october-2003-slide" aria-expanded="false">
              October 2003
            </button>
          </li>
          <li class="history-nav__item">
            <button class="history-nav__btn" aria-controls="july-2000-slide" aria-expanded="false">
              June 2000
            </button>
          </li>
        </ul>
      </nav>

      <div class="history__slider-images appearance-right">
        <ul class="swiper-wrapper history-images">
          <li class="swiper-slide history-images__item">
            <div class="images__thumb images__thumb--history">
              <picture>
                <source type="image/avif" srcset="
                      ./images/history/image1@1x.avif 1x,
                      ./images/history/image1@2x.avif 2x">
                <source type="image/webp" srcset="
                      ./images/history/image1@1x.webp 1x,
                      ./images/history/image1@2x.webp 2x">
                <img class="images__img" src="
                      ./images/history/image1@1x.jpg" loading="lazy" decoding="async" alt="History images">
              </picture>
            </div>
            <p class="history-images__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada vitae
              egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </li>
          <li class="swiper-slide history-images__item">
            <div class="images__thumb images__thumb--history">
              <picture>
                <source type="image/avif" srcset="
                                  ./images/hero/hero-bg1@1x.avif 1x,
                                  ./images/hero/hero-bg1@2x.avif 2x">
                <source type="image/webp" srcset="
                                  ./images/hero/hero-bg1@1x.webp 1x,
                                  ./images/hero/hero-bg1@2x.webp 2x">
                <img class="images__img" src="
                                  ./images/hero/hero-bg1@1x.jpg" loading="lazy" decoding="async" alt="History images">
              </picture>
            </div>
            <p class="history-images__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada vitae
              egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </li>
          <li class="swiper-slide history-images__item">
            <div class="images__thumb images__thumb--history">
              <picture>
                <source type="image/avif" srcset="
                                  ./images/services/image1@1x.avif 1x,
                                  ./images/services/image1@2x.avif 2x">
                <source type="image/webp" srcset="
                                  ./images/services/image1@1x.webp 1x,
                                  ./images/services/image1@2x.webp 2x">
                <img class="images__img" src="
                                  ./images/services/image1@1x.jpg" loading="lazy" decoding="async"
                  alt="History images">
              </picture>
            </div>
            <p class="history-images__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada vitae
              egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </li>
          <li class="swiper-slide history-images__item">
            <div class="images__thumb images__thumb--history">
              <picture>
                <source type="image/avif" srcset="
                      ./images/news-section/image1@1x.avif 1x,
                      ./images/news-section/image1@2x.avif 2x">
                <source type="image/webp" srcset="
                      ./images/news-section/image1@1x.webp 1x,
                      ./images/news-section/image1@2x.webp 2x">
                <img class="images__img" src="
                      ./images/news-section/image1@1x.jpg" loading="lazy" decoding="async" alt="History images">
              </picture>
            </div>
            <p class="history-images__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada vitae
              egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </li>
          <li class="swiper-slide history-images__item">
            <div class="images__thumb images__thumb--history">
              <picture>
                <source type="image/avif" srcset="
                      ./images/history/image1@1x.avif 1x,
                      ./images/history/image1@2x.avif 2x">
                <source type="image/webp" srcset="
                      ./images/history/image1@1x.webp 1x,
                      ./images/history/image1@2x.webp 2x">
                <img class="images__img" src="
                      ./images/history/image1@1x.jpg" loading="lazy" decoding="async" alt="History images">
              </picture>
            </div>
            <p class="history-images__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada vitae
              egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </li>
          <li class="swiper-slide history-images__item">
            <div class="images__thumb images__thumb--history">
              <picture>
                <source type="image/avif" srcset="
                                  ./images/hero/hero-bg1@1x.avif 1x,
                                  ./images/hero/hero-bg1@2x.avif 2x">
                <source type="image/webp" srcset="
                                  ./images/hero/hero-bg1@1x.webp 1x,
                                  ./images/hero/hero-bg1@2x.webp 2x">
                <img class="images__img" src="
                                  ./images/hero/hero-bg1@1x.jpg" loading="lazy" decoding="async" alt="History images">
              </picture>
            </div>
            <p class="history-images__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada vitae
              egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </li>
          <li class="swiper-slide history-images__item">
            <div class="images__thumb images__thumb--history">
              <picture>
                <source type="image/avif" srcset="
                      ./images/history/image1@1x.avif 1x,
                      ./images/history/image1@2x.avif 2x">
                <source type="image/webp" srcset="
                      ./images/history/image1@1x.webp 1x,
                      ./images/history/image1@2x.webp 2x">
                <img class="images__img" src="
                      ./images/history/image1@1x.jpg" loading="lazy" decoding="async" alt="History images">
              </picture>
            </div>
            <p class="history-images__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada vitae
              egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </li>
          <li class="swiper-slide history-images__item">
            <div class="images__thumb images__thumb--history">
              <picture>
                <source type="image/avif" srcset="
                                  ./images/services/image1@1x.avif 1x,
                                  ./images/services/image1@2x.avif 2x">
                <source type="image/webp" srcset="
                                  ./images/services/image1@1x.webp 1x,
                                  ./images/services/image1@2x.webp 2x">
                <img class="images__img" src="
                                  ./images/services/image1@1x.jpg" loading="lazy" decoding="async"
                  alt="History images">
              </picture>
            </div>
            <p class="history-images__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada vitae
              egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </li>
          <li class="swiper-slide history-images__item">
            <div class="images__thumb images__thumb--history">
              <picture>
                <source type="image/avif" srcset="
                      ./images/news-section/image1@1x.avif 1x,
                      ./images/news-section/image1@2x.avif 2x">
                <source type="image/webp" srcset="
                      ./images/news-section/image1@1x.webp 1x,
                      ./images/news-section/image1@2x.webp 2x">
                <img class="images__img" src="
                      ./images/news-section/image1@1x.jpg" loading="lazy" decoding="async" alt="History images">
              </picture>
            </div>
            <p class="history-images__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada vitae
              egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>