<section class="news-section container section reveal-bottom">
  <h2 class="news-section-subtitle  section-subtitle section-subtitle--center reveal-top">
    Recent
    news</h2>
  <ul class="news-section__list grid">
    <li class="news-section__item animate-on-scroll">
      <article class="news-box">
        <div class="images__thumb images__thumb--news-box-705">
          <picture>
            <source type="image/avif"
              srcset="./images/news-section/image1@1x.avif 1x,./images/news-section/image1@2x.avif 2x">
            <source type="image/webp"
              srcset="./images/news-section/image1@1x.webp 1x,./images/news-section/image1@2x.webp 2x">
            <img class="images__img" src=" ./images/news-section/image1@1x.jpg" loading="lazy" decoding="async"
              alt="Cover image for article: How to Build Climate Change-Resilient Infrastructure">
          </picture>
        </div>
        <div class="news-box__content">
          <h3 class="news-box__title section__titleh3">
            <a class="news-box__title-link" href="news1.html">
              How to&nbsp;Build Climate Change-Resilient Infrastructure
            </a>
          </h3>

          <div class="news-box__meta">
            <a class="news-box__meta-item news-box__author" href="" aria-label="View all Industry News">Industry
              News</a>
            <time class="news-box__meta-item news-box__date" datetime="2024-08-15">August 15, 2024</time>
            <a class="news-box__meta-item news-box__comments" href="" aria-label="Read 4 comments">4 comments</a>
          </div>

          <p class="news-box__descr">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
            venenatis
            nulla.
            Integer bibendum turpis convallis enim, nibh convallis...
          </p>
        </div>
      </article>
    </li>
    <li class="news-section__item animate-on-scroll">
      <article class="news-box news-box--small">
        <div class="images__thumb images__thumb--news-box-small">
          <picture>
            <source type="image/avif" srcset="
                              ./images/news-section/image2@1x.avif 1x,
                              ./images/news-section/image2@2x.avif 2x">
            <source type="image/webp" srcset="
                              ./images/news-section/image2@1x.webp 1x,
                              ./images/news-section/image2@2x.webp 2x">
            <img class="images__img" src="
                              ./images/news-section/image2@1x.jpg" loading="lazy" decoding="async" alt="News cover">
          </picture>
        </div>
        <div class="news-box__content">
          <h3 class="news-box__title section__titleh3">
            <a class="news-box__title-link" href="#">
              How Construction Can Help Itself
            </a>
          </h3>

          <div class="news-box__meta">
            <a class="news-box__meta-item news-box__author" href="">Innovation</a>
            <time class="news-box__meta-item news-box__date" datetime="2024-06-24">June 24, 2024</time>
            <a class="news-box__meta-item news-box__comments" href="">No comments</a>
          </div>

          <p class="news-box__descr">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
            venenatis
            nulla.
            Integer bibendum turpis convallis enim, nibh convallis...
          </p>
        </div>
      </article>
    </li>
    <li class="news-section__item animate-on-scroll">
      <article class="news-box news-box--small">
        <div class="images__thumb images__thumb--news-box-small">
          <picture>
            <source type="image/avif" srcset="
                              ./images/news-section/image3@1x.avif 1x,
                              ./images/news-section/image3@2x.avif 2x">
            <source type="image/webp" srcset="
                              ./images/news-section/image3@1x.webp 1x,
                              ./images/news-section/image3@2x.webp 2x">
            <img class="images__img" src="
                              ./images/news-section/image3@1x.jpg" loading="lazy" decoding="async" alt="News cover">
          </picture>
        </div>
        <div class="news-box__content">
          <h3 class="news-box__title section__titleh3">
            <a class="news-box__title-link" href="#">
              Types of&nbsp;Flooring Materials
            </a>
          </h3>

          <div class="news-box__meta">
            <a class="news-box__meta-item news-box__author" href="">Company News</a>
            <time class="news-box__meta-item news-box__date" datetime="2024-12-01">December 01, 2024</time>
            <a class="news-box__meta-item news-box__comments" href="">8 comments</a>
          </div>

          <p class="news-box__descr">
            Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
            venenatis
            nulla.
            Integer bibendum turpis convallis enim, nibh convallis...
          </p>
        </div>
      </article>
    </li>
  </ul>

  {% include "view.njk" %}

</section>