<section class="offices">
  <div class="container">
    <h2 class="section-subtitle reveal-top section-subtitle section-subtitle--center">Our offices</h2>
    <p class="section-text reveal-bottom">
      Give us a call, send us a note or visit our office. We can’t wait to hear from you!
    </p>

    <nav class="offices__nav" aria-label="Office locations">
      <div class="offices__nav-coll">
        <p class="offices__nav-title">New York, USA</p>
        <ul class="offices__list">
          <li class="offices__item offices__item--address">
            <span class="offices__address">8502&nbsp;Preston Rd. Inglewood, New York 98380</span>
            <a class="offices__link offices__link--map" href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9" target="_blank"
              rel="noopener noreferrer nofollow" aria-label="See New York office on the map">See on the map</a>
          </li>
          <li class="offices__item">
            <a class="offices__link" href="tel:4055550128"><span class="offices__link--name">Call:&nbsp;</span>(405)
              555-0128</a>
          </li>
          <li class="offices__item">
            <a class="offices__link" href="mailto:hello@createx.com"><span
                class="offices__link--name">Email:&nbsp;</span>hello@createx.com</a>
          </li>
          <li class="offices__item">
            <span aria-label="Working hours">Schedule:&nbsp;</span>
            Mon - Fri <time datetime="09:00">9:00</time> - <time datetime="18:00">18:00</time>
          </li>
        </ul>
      </div>
      <div class="offices__nav-coll">
        <p class="offices__nav-title">New Jersey, USA</p>
        <ul class="offices__list">
          <li class="offices__item offices__item--address">
            <span class="offices__address">2464&nbsp;Royal Ln. Mesa, New Jersey 45463</span>
            <a class="offices__link offices__link--map" href="https://maps.app.goo.gl/2cgs8CQZgvUkzcMw7" target="_blank"
              rel="noopener noreferrer nofollow" aria-label="See New Jersey office on the map">See on the map</a>
          </li>
          <li class="offices__item">
            <a class="offices__link" href="tel:8085550111"><span class="offices__link--name">Call:&nbsp;</span>(808)
              555-0111</a>
          </li>
          <li class="offices__item">
            <a class="offices__link" href="mailto:hello@createx.com"><span
                class="offices__link--name">Email:&nbsp;</span>hello@createx.com</a>
          </li>
          <li class="offices__item">
            <span aria-label="Working hours">Schedule:&nbsp;</span>
            Mon - Fri <time datetime="09:00">9:00</time> - <time datetime="18:00">18:00</time>
          </li>
        </ul>
      </div>
      <div class="offices__nav-coll">
        <p class="offices__nav-title">San Francisco, USA</p>
        <ul class="offices__list">
          <li class="offices__item offices__item--address">
            <span class="offices__address">8502 Preston Rd. Inglewood, San Francisco 98380</span>
            <a class="offices__link offices__link--map" href="https://maps.app.goo.gl/KciBVzwhJwheR41LA" target="_blank"
              rel="noopener noreferrer nofollow" aria-label="See San Francisco office on the map">See on the map</a>
          </li>
          <li class="offices__item">
            <a class="offices__link" href="tel:5055550125"><span class="offices__link--name">Call:&nbsp;</span>(505)
              555-0125</a>
          </li>
          <li class="offices__item">
            <a class="offices__link" href="mailto:hello@createx.com"><span
                class="offices__link--name">Email:&nbsp;</span>hello@createx.com</a>
          </li>
          <li class="offices__item">
            <span aria-label="Working hours">Schedule:&nbsp;</span>
            Mon - Fri <time datetime="09:00">10:00</time> - <time datetime="18:00">19:00</time>
          </li>
        </ul>
      </div>
    </nav>
    <section class="offices__social" role="navigation" aria-label="Social media links">
      <h2 class="offices__social-title section-subtitle reveal-top section-subtitle section-subtitle--center">Find us
        at
      </h2>
      {% set contextClass = 'contact' %}
      {% set icons = [
      { name: 'whatsapp', label: 'WhatsApp', url: 'https://wa.me/4055550128' },
      { name: 'messenger', label: 'Messenger', url: 'https://m.me/createx' },
      { name: 'facebook', label: 'Facebook', url: 'https://facebook.com/createx' },
      { name: 'twitter', label: 'Twitter', url: 'https://twitter.com/createx' },
      { name: 'youtube', label: 'YouTube', url: 'https://www.youtube.com/watch?v=createx' }
      ] %}
      {% include "social-media.njk" %}
    </section>
  </div>
</section>