<article class="post">
  <div class="container">
    <h2 class="section-subtitle reveal-top visually-hidden">Single Post</h2>
    <div class="post__thumb images__thumb images__thumb--post reveal-bottom">
      <picture>
        <source type="image/avif" srcset="
              ./images/news1/image1@1x.avif 1x,
              ./images/news1/image1@2x.avif 2x">
        <source type="image/webp" srcset="
              ./images/news1/image1@1x.webp 1x,
              ./images/news1/image1@2x.webp 2x">
        <img class="images__img" src="
              ./images/news1/image1@1x.jpg" loading="lazy" decoding="async" alt="Post cover">
      </picture>
    </div>
  </div>
  <div class="post__wrapper">
    <div class="post__content">
      <h2 class="appearance-right">
        Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean
        sit
        malesuada
        ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac&nbsp;euismod.
      </h2>
      <p class="appearance-right">
        At&nbsp;facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in&nbsp;et&nbsp;sagittis,
        vitae diam
        cras dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra,
        neque,
        fermentum.
        Vel nec rhoncus, non nunc, neque in&nbsp;massa. Feugiat leo nam nisl lacinia amet, odio. Mi&nbsp;varius
        viverra risus
        vel.
      </p>
      <p class="appearance-right">
        Amet, morbi sed pharetra, elit eget mi&nbsp;potenti. Condimentum orci interdum feugiat lectus libero duis.
        Nisl massa,
        elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et&nbsp;sed. Aliquet non sed duis diam
        vehicula
        rhoncus. In&nbsp;dictum nullam tincidunt semper pellentesque purus morbi sed. Ut&nbsp;aliquet velit
        pharetra, nisi nunc,
        non.
      </p>
      <blockquote class="appearance-right">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis
        fermentum amet,
        eu. Pulvinar eu&nbsp;sed purus facilisi. Vitae id&nbsp;turpis tempus ornare turpis quis non. Congue tortor
        in&nbsp;tot
        euismod vulputate etiam eros. Vel accumsan at&nbsp;elit neque, ipsum.
      </blockquote>
      <p class="appearance-right">
        Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut&nbsp;sed id&nbsp;ut&nbsp;erat mattis. Vitae mus
        blandit
        in&nbsp;neque amet non fringilla blandit:
      </p>

      <ul class="decisions-list">
        <li class="decisions-list__item appearance-right" data-animate="chain">
          <p class="decisions-list__text decisions-list__text--16">
            A&nbsp;fermentum in&nbsp;morbi pretium aliquam adipiscing donec tempus.
          </p>
        </li>
        <li class="decisions-list__item appearance-right" data-animate="chain">
          <p class="decisions-list__text decisions-list__text--16">
            Vulputate placerat amet pulvinar lorem nisl.
          </p>
        </li>
        <li class="decisions-list__item appearance-right" data-animate="chain">
          <p class="decisions-list__text decisions-list__text--16">
            Consequat feugiat habitant gravida quisque elit bibendum id&nbsp;adipiscing sed.
          </p>
        </li>
        <li class="decisions-list__item appearance-right" data-animate="chain">
          <p class="decisions-list__text decisions-list__text--16">
            Etiam duis lobortis in&nbsp;fames ultrices commodo nibh
          </p>
        </li>
      </ul>
      <p class="appearance-right">
        Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare lectus
        eget. Urna,
        risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur neque ut aliquam
        eros, purus
        enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo, pharetra nibh risus. Facilisi
        at
        porttitor
        volutpat natoque proin amet, nulla. Vivamus ut lobortis sagittis curabitur tellus convallis eget netus
        vitae.
      </p>
    </div>
    <div class="post__share">
      <span>Share:</span>
      {% set contextClass = 'news' %}
      {% set icons = [
      { name: 'facebook', label: 'Facebook', url: 'https://facebook.com/createx' },
      { name: 'linked-in', label: 'LinkedIn', url: 'https://linkedin.com/company/createx' },
      { name: 'twitter', label: 'Share on Twitter', url: 'https://twitter.com/share?url=news-url' }
      ] %}
      {% include "social-media.njk" %}

    </div>
    <section class="post-comments" id="post-comments">
      <h2 class="post-comments__title section-subtitle reveal-top section-subtitle section-subtitle--center">4
        comments</h2>
      <ul class="post-comments__list">
        <li class="post-comments__item">
          <article class="comment">
            <h2 class="section-subtitle reveal-top visually-hidden">Comment</h2>
            <div class="comment__left">
              <span class="comment__user">Devon Lane</span>
              <time class="comment__date" datetime="2020-07-15">July 15, 2020</time>
            </div>
            <div class="comment__right">
              <div class="comment__body">
                <p>Phasellus varius faucibus ultrices odio in. Massa neque dictum natoque ornare rutrum malesuada et
                  phasellus. Viverra
                  natoque nulla cras vel nisl proin senectus. Tortor sed eleifend ante tristique felis sed urna
                  aliquet.
                  Suspendisse fames
                  egestas sed duis purus diam et.</p>
              </div>
              <button class="comment__reply">
                <svg class="comment__reply-svg" width="16" height="16" aria-label="images">
                  <use href="./images/icons/sprite.svg#reply"></use>
                </svg>
                Reply
              </button>
            </div>
          </article>
        </li>
        <li class="post-comments__item">
          <article class="comment">
            <h2 class="section-subtitle reveal-top visually-hidden">Comment</h2>
            <div class="comment__left">
              <span class="comment__user">Annette Black</span>
              <time class="comment__date" datetime="2020-07-15">July 15, 2020</time>
            </div>
            <div class="comment__right">
              <div class="comment__body">
                <p>
                  <a href="">@Devon Lane&nbsp;</a>Egestas fermentum natoque sollicitudin mauris. Facilisis praesent
                  urna
                  sed rhoncus quis pharetra
                  pellentesque erat sagittis.
                </p>
              </div>
              <button class="comment__reply">
                <svg class="comment__reply-svg" width="16" height="16" aria-label="images">
                  <use href="./images/icons/sprite.svg#reply"></use>
                </svg>
                Reply
              </button>
            </div>
          </article>
        </li>
        <li class="post-comments__item">
          <article class="comment">
            <h2 class="section-subtitle reveal-top visually-hidden">Comment</h2>
            <div class="comment__left">
              <span class="comment__user">Albert Flores</span>
              <time class="comment__date" datetime="2020-07-15">July 7, 2020</time>
            </div>
            <div class="comment__right">
              <div class="comment__body">
                <p>
                  Libero commodo sit dui ac proin. Penatibus ultricies at adipiscing mauris nunc. Fames faucibus
                  nisl duis id diam.
                </p>
              </div>
              <button class="comment__reply">
                <svg class="comment__reply-svg" width="16" height="16" aria-label="images">
                  <use href="./images/icons/sprite.svg#reply"></use>
                </svg>
                Reply
              </button>
            </div>
          </article>
        </li>
        <li class="post-comments__item">
          <article class="comment">
            <h2 class="section-subtitle reveal-top visually-hidden">Comment</h2>
            <div class="comment__left">
              <span class="comment__user">Marvin McKinney</span>
              <time class="comment__date" datetime="2020-07-15">Juту 28, 2020</time>
            </div>
            <div class="comment__right">
              <div class="comment__body">
                <p>
                  Ullamcorper nibh sed ac ipsum nunc imperdiet rhoncus. Quam donec habitant nibh sit consequat erat
                  libero, tincidunt.
                  Eros ut aliquam proin et duis. Mauris, egestas congue nibh dui a nulla.
                </p>
              </div>
              <button class="comment__reply">
                <svg class="comment__reply-svg" width="16" height="16" aria-label="images">
                  <use href="./images/icons/sprite.svg#reply"></use>
                </svg>
                Reply
              </button>
            </div>
          </article>
        </li>
      </ul>
    </section>
    <section class="post__form-comment">
      <form class="post-form form" action="#">
        <h2 class="section-subtitle reveal-top section-subtitle section-subtitle--center post-form__title">
          Leave your comment
        </h2>
        <div class="post-form__inner">
          <label class="post-form__label post-form__label--width form__label" for="post-first-name">
            <span class="form__label-legend">Name</span>
            <input class="post-form__input  form__input" type="text" name="first-name" id="post-first-name"
              placeholder="Your name"
              title="The name must be between 2 and 15 characters long, be one word, and contain no characters other than letters."
              required minlength="2" maxlength="15" pattern="^[a-zA-Z]+$">
            <span id="error-message" style="color: red;"></span>
          </label>
          <label class="post-form__label post-form__label--width form__label" for="post-email">
            <span class="form__label-legend">Email</span>
            <input class="post-form__input form__input" type="email" name="e-mail" id="post-email"
              placeholder="Your working email" required>
            <span id="error-message" style="color: red;"></span>
          </label>

          <label class="post-form__label form__label form__label--width100" for="post-comment">
            <span class="form__label-legend">Your comment</span>
            <textarea class="post-form__input form__input" id="post-comment" name="comment"
              placeholder="Type comment here" minlength="10" maxlength="200" required></textarea>
            <span id="error-message" style="color: red;"></span>
          </label>
        </div>
        <button class="post-form__btn button button--large" type="submit">Post comment</button>
      </form>
    </section>
  </div>
</article>