<section class="work-inside page-hero">
  <div class="container">


    <h1 class="work-inside__title section__inside-title">{{title}}</h1>

    <div class="work-inside__galery">
      <div class="work-inside__slider-big">
        <button class="slider-nav__btn portfolio-section__prev work-inside__btn work-inside__btn--prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
            <path fill="currentColor" fill-rule="evenodd"
              d="M9.207 17.207a1 1 0 0 1-1.414 0l-4.5-4.5a1 1 0 0 1 0-1.414l4.5-4.5a1 1 0 0 1 1.414 1.414L6.414 11H20a1 1 0 1 1 0 2H6.414l2.793 2.793a1 1 0 0 1 0 1.414Z"
              clip-rule="evenodd" />
          </svg>
        </button>
        <button class="slider-nav__btn portfolio-section__next work-inside__btn work-inside__btn--next">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
            <path fill="currentColor" fill-rule="evenodd"
              d="M14.793 6.793a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L17.586 13H4a1 1 0 1 1 0-2h13.586l-2.793-2.793a1 1 0 0 1 0-1.414Z"
              clip-rule="evenodd" />
          </svg>
        </button>
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="work-inside__cover-big">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/image1@1x.avif 1x, ./images/work-inside/image1@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/image1@1x.webp 1x, ./images/work-inside/image1@2x.webp 2x">
                <img class="work-inside__img" src="./images/work-inside/image1@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-big">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/image3@1x.avif 1x, ./images/work-inside/image3@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/image3@1x.webp 1x, ./images/work-inside/image3@2x.webp 2x">
                <img class="work-inside__img" src="./images/work-inside/image3@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-big">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/image4@1x.avif 1x, ./images/work-inside/image4@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/image4@1x.webp 1x, ./images/work-inside/image4@2x.webp 2x">
                <img class="work-inside__img" src="./images/work-inside/image4@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-big">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/image5@1x.avif 1x, ./images/work-inside/image5@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/image5@1x.webp 1x, ./images/work-inside/image5@2x.webp 2x">
                <img class="work-inside__img" src="./images/work-inside/image5@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-big">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/image6@1x.avif 1x, ./images/work-inside/image6@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/image6@1x.webp 1x, ./images/work-inside/image6@2x.webp 2x">
                <img class="work-inside__img" src="./images/work-inside/image6@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-big">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/image7@1x.avif 1x, ./images/work-inside/image7@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/image1@1x.webp 1x, ./images/work-inside/image7@2x.webp 2x">
                <img class="work-inside__img" src="./images/work-inside/image7@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
        </ul>
      </div>
      <div class="work-inside__slider-small" data-thumbs-slider>
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="work-inside__cover-small">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/slider/image-small1-1@1x.avif 1x, ./images/work-inside/slider/image-small1-1@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/slider/image-small1-1@1x.webp 1x, ./images/work-inside/slider/image-small1-1@2x.webp 2x">
                <img class="work-inside__img work-inside__img--small"
                  src="./images/work-inside/slider/image-small1-1@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-small">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/slider/image-small3@1x.avif 1x, ./images/work-inside/slider/image-small3@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/slider/image-small3@1x.webp 1x, ./images/work-inside/slider/image-small3@2x.webp 2x">
                <img class="work-inside__img work-inside__img--small"
                  src="./images/work-inside/slider/image-small3@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-small">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/slider/image-small4@1x.avif 1x, ./images/work-inside/slider/image-small4@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/slider/image-small4@1x.webp 1x, ./images/work-inside/slider/image-small4@2x.webp 2x">
                <img class="work-inside__img work-inside__img--small"
                  src="./images/work-inside/slider/image-small4@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-small">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/slider/image-small5@1x.avif 1x, ./images/work-inside/slider/image-small5@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/slider/image-small5@1x.webp 1x, ./images/work-inside/slider/image-small5@2x.webp 2x">
                <img class="work-inside__img work-inside__img--small"
                  src="./images/work-inside/slider/image-small5@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-small">
              <picture>
                <source type="image/avif" srcset="
                                          ./images/work-inside/slider/image-small1-5@1x.avif 1x,
                                          ./images/work-inside/slider/image-small1-5@2x.avif 2x">
                <source type="image/webp" srcset="
                                          ./images/work-inside/slider/image-small1-5@1x.webp 1x,
                                          ./images/work-inside/slider/image-small1-5@2x.webp 2x">
                <img class="work-inside__img work-inside__img--small" src="
                                          ./images/work-inside/slider/image-small1-5@1x.jpg" loading="lazy"
                  decoding="async" alt="Portfolio cover">
              </picture>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="work-inside__cover-small">
              <picture>
                <source type="image/avif"
                  srcset="./images/work-inside/slider/image-small7@1x.avif 1x, ./images/work-inside/slider/image-small7@2x.avif 2x">
                <source type="image/webp"
                  srcset="./images/work-inside/slider/image-small7@1x.webp 1x, ./images/work-inside/slider/image-small7@2x.webp 2x">
                <img class="work-inside__img work-inside__img--small"
                  src="./images/work-inside/slider/image-small7@1x.jpg" loading="lazy" decoding="async"
                  alt="Portfolio cover">
              </picture>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="project-goal reveal-top">
      <div class="project-goal__content">
        <h2 class="project-goal__subtitle section-subtitle reveal-top">Project goal</h2>
        <p class="project-goal__descr">
          Build a&nbsp;private house 840&nbsp;sq. feet with a&nbsp;large living room, three bedrooms, two bathrooms,
          a&nbsp;terrace, a&nbsp;pool and a&nbsp;garage for two cars.
        </p>
        <p class="project-goal__descr">
          Modern design and care for each family member to&nbsp;feel as&nbsp;comfortable as&nbsp;possible
          in&nbsp;the new home.
        </p>
      </div>
      <table class="project-goal__table">
        <tr>
          <td class="project-goal__table-name">LOCATION</td>
          <td class="project-goal__table-value">2464 Royal Ln. Mesa, New Jersey</td>
        </tr>
        <tr>
          <td class="project-goal__table-name">CLIENT</td>
          <td class="project-goal__table-value">Darlene Robertson</td>
        </tr>
        <tr>
          <td class="project-goal__table-name">ARCHITECT</td>
          <td class="project-goal__table-value">HIK Architecture</td>
        </tr>
        <tr>
          <td class="project-goal__table-name">SIZE</td>
          <td class="project-goal__table-value">SIZE</td>
        </tr>
        <tr>
          <td class="project-goal__table-name">VALUE</td>
          <td class="project-goal__table-value">$2&nbsp;million</td>
        </tr>
        <tr>
          <td class="project-goal__table-name">COMPLETED</td>
          <td class="project-goal__table-value">May 2020</td>
        </tr>
      </table>
    </div>
  </div>
</section>