<section class="services section">
  <div class="container">
    <ul class="services__list">
      <li class="services__item grid">
        <div class="services__wrap animate-wrap">
          <div class="images-thumb images-thumb--services animate-card">
            <div class="animate-bg images-thumb__img services__bg services__bg--construction"></div>
          </div>
        </div>

        <div class="services__content appearance-right">
          <h3 class="services__title">
            Construction
          </h3>
          <p class="services__descr">
            Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque
            nisi, nibh.
            Enim
            semper id&nbsp;sodales ultricies sed ut&nbsp;ut&nbsp;augue. Mattis habitant venenatis, gravida posuere
            massa
            ac&nbsp;interdum. Eget aliquam dignissim ut&nbsp;vestibulum.
          </p>
          <a class="services__btn button button--regular button--primary" href="services-inside.html">Learn more</a>
        </div>
      </li>
      <li class="services__item grid">
        <div class="services__wrap animate-wrap">
          <div class="images-thumb images-thumb--services animate-card appearance-left">
            <div class="animate-bg images-thumb__img services__bg services__bg--project"></div>
          </div>
        </div>
        <div class="services__content appearance-right">
          <h3 class="services__title">
            Project Development
          </h3>
          <p class="services__descr">
            Volutpat tellus mauris sit sit. Posuere ut&nbsp;sit vestibulum amet viverra&nbsp;in. Est nulla lectus
            purus
            tincidunt
            massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.
          </p>
          <a class="services__btn button button--regular button--primary" href="work.html?tab=project">Learn
            more</a>
        </div>
      </li>
      <li class="services__item grid">
        <div class="services__wrap animate-wrap">
          <div class="images-thumb images-thumb--services animate-card">
            <div class="animate-bg images-thumb__img services__bg services__bg--design"></div>
          </div>
        </div>
        <div class="services__content appearance-right">
          <h3 class="services__title">
            Interior Design
          </h3>
          <p class="services__descr">
            Eleifend orci massa et&nbsp;facilisis orci feugiat&nbsp;ac. Congue in&nbsp;ut&nbsp;lacus, turpis
            accumsan
            gravida.
            Aliquet mattis dignissim massa sociis&nbsp;a, id&nbsp;bibendum. Egestas lorem eros, mi&nbsp;cras amet,
            vel
            eget
            molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus
            senectus
            faucibus
            eget
            elementum pretium.
          </p>
          <a class="services__btn button button--regular button--primary" href="services-inside.html">Learn more</a>
        </div>
      </li>
      <li class="services__item grid">
        <div class="services__wrap animate-wrap">
          <div class="images-thumb images-thumb--services animate-card appearance-left">
            <div class="animate-bg images-thumb__img services__bg services__bg--repairs"></div>
          </div>
        </div>
        <div class="services__content appearance-right">
          <h3 class="services__title">
            Repairs
          </h3>
          <p class="services__descr">
            Facilisis cursus feugiat sit pulvinar amet. Ac&nbsp;facilisi dictum commodo, tortor gravida pretium,
            orci.
            Nunc sit
            sollicitudin id&nbsp;egestas mattis. Turpis viverra nec urna ultrices urna.
          </p>
          <a class="services__btn button button--regular button--primary" href="work.html?tab=repairs">Learn
            more</a>
        </div>
      </li>
    </ul>
  </div>
</section>