<section class="team">
  <div class="container">
    <h2 class="section-subtitle reveal-top  section-subtitle section-subtitle--center">Our team</h2>
    <p class="team__descr reveal-bottom">People are at&nbsp;the heart of&nbsp;Createx Construction Bureau</p>
    <ul class="team__list grid">
    </ul>
    <p class="team__plea">
      Become a&nbsp;part of&nbsp;the best team in&nbsp;the construction market of&nbsp;the USA.
      <a class="team__plea-link" href="./positions.html">Available Positions</a>
    </p>
  </div>
</section>