<section class="vacancies container section reveal-bottom">
  <h2 class="visually-hidden section-subtitle reveal-top">vacancies</h2>
  <div class="vacancies__inner">
    <ul class="vacancies__list">
      <li class="vacancies__item appearance-left">
        <article class="vacancies__article">
          <div class="vacancies__box">
            <span class="vacancies__location">New York</span>
            <span class="vacancies__species">Full Time</span>
            <h3 class="section__titleh3 vacancies__position">Heavy Equipment Operator</h3>
          </div>
          <a class="button button--regular button--primary" href="">Apply now</a>
        </article>
      </li>
      <li class="vacancies__item appearance-left">
        <article class="vacancies__article">
          <div class="vacancies__box">
            <span class="vacancies__location">San Francisco</span>
            <span class="vacancies__species">Full Time</span>
            <h3 class="section__titleh3 vacancies__position">Financial Compliance Analyst</h3>
          </div>
          <a class="button button--regular button--primary" href="">Apply now</a>
        </article>
      </li>
      <li class="vacancies__item appearance-left">
        <article class="vacancies__article">
          <div class="vacancies__box">
            <span class="vacancies__location">New Jersey</span>
            <span class="vacancies__species">Full Time</span>
            <h3 class="section__titleh3 vacancies__position">Project Manager - Buildings</h3>
          </div>
          <a class="button button--regular button--primary" href="">Apply now</a>
        </article>
      </li>
      <li class="vacancies__item appearance-left">
        <article class=" vacancies__article">
          <div class="vacancies__box">
            <span class="vacancies__location">New Jersey</span>
            <span class="vacancies__species">Part Time</span>
            <h3 class="section__titleh3 vacancies__position">Environment Specialist</h3>
          </div>
          <a class="button button--regular button--primary" href="">Apply now</a>
        </article>
      </li>
      <li class="vacancies__item appearance-left">
        <article class="vacancies__article">
          <div class="vacancies__box">
            <span class="vacancies__location">New York</span>
            <span class="vacancies__species">Full Time</span>
            <h3 class="section__titleh3 vacancies__position">Accountant</h3>
          </div>
          <a class="button button--regular button--primary" href="">Apply now</a>
        </article>
      </li>
    </ul>

    <div class="vacancies-send">
      <h3 class="section__titleh5 vacancies-send__title">
        Didn&rsquo;t find what you were looking for?
      </h3>
      <p class="vacancies-send__descr">
        Send your CV&nbsp;or subscribe to&nbsp;our newsletter to&nbsp;receive information about new vacancies.
      </p>
      <div class="vacancies-send__btn-box">
        <button class="vacancies-send__btn button button--large button--primary" data-graph-animation="custom"
          data-graph-path="first" aria-label="Subscribe to newsletter">subscribe</button>
        <button class="vacancies-send__btn button button--large button--primary" data-graph-animation="custom"
          data-graph-path="second" aria-label="Send your CV">send
          cv</button>
      </div>
    </div>
  </div>

</section>