<div class="view  animate-on-scroll">
  {% if subtitle %}
  <h4 class="view__titleh4">{{ subtitle }}</h4>
  {% endif %}
  {% if link %}
  <a class="view__link button button--large animate-on-scroll pulse" href="{{ link }}">{{link_text}}</a>
  {% endif %}
</div>