<div class="view reveal-bottom">
  <h4 class="view__titleh4">Explore all our works</h4>
  <a class="view__link button button--large animate-on-scroll pulse" href="./work.html">View portfolio</a>
</div>