{% extends "layout.njk" %}
{% set title = "Createx Construction Work - Modern Cottage" %}
{% set description = "" %}
{% set ogDescription = "Createx Construction Work - Modern Cottage." %}
<!-- {% set ogImage = "https://larukhina-tatiana.github.io/Createx/images/og-about.jpg" %} -->
{% set ogUrl = "https://larukhina-tatiana.github.io/Createx/modern-cottage.html" %}
{% set pageName = "work-inside" %}
{% set bodyClass = "work-inside" %}


{% block content %}

{% set breadcrumbs = [
{ text: "Homepage", href: "index.html" },
{ text: "Work", href: "work.html" },
{ text: "Modern Cottage", current: true }
] %}
{% set title = "Modern Cottage" %}
{% set descr = "" %}


{% include "section-work-inside.njk" %}
{% include "decisions.njk" %}
{% include "projects.njk" %}
{% include "application-form.njk" %}
{% endblock %}