{% extends "layout.njk" %}
{% set title = "Available Positions — Createx Construction" %}
{% set description = "Learn more about Createx Construction Bureau, our values, mission, and experience in the US market
since 2000." %}
{% set ogDescription = "Discover Createx's story, team, and commitment to quality construction." %}
<!-- {% set ogImage = "https://larukhina-tatiana.github.io/Createx/images/og-about.jpg" %} -->
{% set ogUrl = "https://larukhina-tatiana.github.io/Createx/positions.html" %}
{% set pageName = "page-positions" %}
{% set bodyClass = "page-positions" %}




{% block content %}
{% set id = "hero-title-positions" %}
{% set breadcrumbs = [
{ text: "Homepage", href: "index.html" },
{ text: "About Us", href: "about.html" },
{ text: "Available Positions", current: true }
] %}
{% set title = "Available Positions" %}
{% set descr = "Build your career with Createx Construction Bureau." %}
{% set bodyClass = "page-positions" %}
{% include "page-hero.njk" %}


{% include "vacancies.njk" %}
{% include "values-positions.njk" %}
{% include "application-form.njk" %}
{% include "modals.njk" %}
{% set pageName = "page-positions" %}
{% endblock %}