{% extends "layout.njk" %}
{% set title = "OUR WORK — Createx Construction" %}
{% set description = "Learn more about Createx Construction Bureau, our values, mission, and experience in the US market
since 2000." %}
{% set ogDescription = "Discover Createx's story, team, and commitment to quality construction." %}
<!-- {% set ogImage = "https://larukhina-tatiana.github.io/Createx/images/og-about.jpg" %} -->
{% set ogUrl = "https://larukhina-tatiana.github.io/Createx/work.html" %}
{% set pageName = "page-work" %}
{% set bodyClass = "page-work" %}


{% block content %}
{% set id = "hero-title-work" %}
{% set breadcrumbs = [
{ text: "Homepage", href: "index.html" },
{ text: "Work", current: true }
] %}
{% set title = "OUR WORK" %}
{% set descr = "Our portfolio represents 20 years of construction experience backed by a passion for
perfect client
service, quality and innovations in consctuction industry." %}

{% include "page-hero.njk" %}


{% include "portfolio.njk" %}
{% include "testimonials.njk" %}
{% include "clients-work.njk" %}
{% include "application-form.njk" %}
{% endblock %}