.button {
  @include flex-all-center;
  border-radius: 4px;
  background-color: var(--primary);
  text-transform: uppercase;
  border: 1px solid transparent;

  @include transition ($transition-property: (color, background-color, border));

  @media (any-hover: hover) {
    &:hover {
      color: var(--primary);
      background-color: var(--white);
      border: 1px solid var(--primary);
    }
  }

  &--large {
    width: 224px;
    height: 52px;
    @include font-style ($font-weight: 700, $font-size: 16px, $line-height: 3.25);

    // font-weight: 700;
    // font-size: 16px;
    // line-height: 3.25;
    // letter-spacing: 0.03em;


    color: var(--white);
  }

  &--link {
    width: 276px;
    height: 52px;
    @include font-style ($font-weight: 700, $font-size: 16px, $line-height: 3.25);
    border: 1px solid var(--white);
    background-color: transparent;
  }
}