.portfolio-section {
  background-color: var(--white);
  padding-bottom: 120px;


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 44px;
  }

  &__subtitle {
    max-width: 710px;
    margin-bottom: 0;
    padding-bottom: 14px;
    text-align: left;
  }
}