.post__form {
  padding-top: 40px;


  &-title {
    margin-bottom: 48px;
  }

  &-inner {
    @include flex-aic;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 22px;
  }

  &-label {
    font-size: 16px;
    line-height: 1.6;


    &--width {
      width: calc((100% - 30px) / 2);
    }
  }

  &-input {
    padding: 13px 16px;
    font-size: 16px;
    line-height: 1.6;
  }

  &-btn {
    width: 215px;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
  }


  textarea {
    resize: none;
    height: 100px;
  }
}