.project-goal {
  gap: 122px;

  &__content {
    grid-column: 6 span;
    max-width: 600px;
    padding-top: 43px;
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__descr {
    font-size: 18px;
    line-height: 1.5;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__table {
    grid-column: 5 span;
    padding: 37px 10px 37px 60px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--white);


    &-name {
      font-weight: 700;
      color: var(--gray-900);
      width: 98px;
      padding-right: 32px;
    }

    &-value {
      color: var(--gray-700);
    }

    tr {
      height: 39px;
    }

    // td {
    //   padding-bottom: 16px;
    // }
  }
}