.services-hero {
  padding-top: 150px;
  height: 600px;
  background-color: var(--gray-200);
  background-position: right -308px top;
  background-repeat: no-repeat;

  &__content {
    max-width: 600px;
  }

  &__title {
    margin-bottom: 21px;
  }
}