.team {
  background-color: black;

  &__thumb {
    position: relative;
  }

  &__hover {
    position: absolute;
    border-radius: 0 0 4px 4px;
    width: 285px;
    height: 60px;
    left: 0;
    bottom: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(calc(100% + 1px));
    background-color: rgba(#ff5a30, .7);
  }

  &__item:hover .team__hover,
  &__item:focus .team__hover {
    transform: translateY(0);
  }
}