<footer class="footer animate-on-scroll" aria-label="Company contact and navigation">
  <a href="#page" data-scroll class="to-top">
    <span class="to-top__text">Go to top</span>
    <span class="to-top__icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
        <path fill="#fff" fill-rule="evenodd"
          d="M4.293 15.707a1 1 0 0 1 0-1.414l7-7a1 1 0 0 1 1.414 0l7 7a1 1 0 0 1-1.414 1.414L12 9.414l-6.293 6.293a1 1 0 0 1-1.414 0Z"
          clip-rule="evenodd" />
      </svg>
    </span>
  </a>
  <div class="container footer__container grid">
    <div class="footer__left">
      <div class="footer__inner">
        <a class="footer__logo logo" href="/index.html">
          <img src="/images/icons/logo-footer.svg" alt="Createx Construction logo in footer" width="142" height="24"
            loading="lazy" decoding="async">
        </a>
        {% set contextClass = 'footer' %}
        {% set icons = [
        { name: 'whatsapp', label: 'Whatsapp', url: 'https://whatsapp.com/createx' },
        { name: 'messanger', label: 'Messanger', url: 'https://messanger.com/createx' },
        { name: 'facebook', label: 'Facebook', url: 'https://facebook.com/createx' },
        { name: 'twitter', label: 'Twitter', url: 'https://twitter.com/createx' },
        { name: 'youtube', label: 'YouTube', url: 'https://youtube.com/createx' }
        ] %}

        {% include "social-media.njk" %}

      </div>
      <p class="footer__left-text">
        Createx Construction Bureau has been successfully operating in&nbsp;the USA construction market since 2000.
        We&nbsp;are
        proud to&nbsp;offer you quality construction and exemplary service. Our mission is&nbsp;to&nbsp;set the
        highest
        standards for construction sphere.
      </p>
    </div>
    <form class="footer__form form" name="footer-form" action="#" method="post" data-js-form novalidate>
      <h2 class="footer__form-title section__titleh4">
        Let’s stay in touch
      </h2>
      <div class="footer__form-inner">
        <label class="footer__form-label form__label" for="user-email">
          <span class="visually-hidden">Email address</span>
          <input class="footer__form-input form__input" type="email" name="email" id="user-email"
            placeholder="e.g. user@example.com" required autocomplete="email" pattern="^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$"
            title="Please enter a valid email address in the format: user@example.com"
            oninvalid="this.setCustomValidity('Please enter a valid email address.')"
            onchange="this.setCustomValidity('')">
          <span class="form-errors form-errors--position" data-js-form-field-errors role="alert"></span>
        </label>
        <button class="button button--regular footer__form-btn" type="submit">Subscribe</button>
      </div>
      <p class="footer__form-text">
        *Subscribe to&nbsp;our newsletter to&nbsp;receive communications and early updates from Createx Construction
        Bureau.
      </p>
    </form>
    <address class="footer__address address">
      <p class="footer__title">HEAD OFFICE</p>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9" target="_blank"
            rel="noopener noreferrer nofollow"><span>Address:&nbsp;</span>8502 Preston Rd. Inglewood, New York</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="tel:4055550128" target='_blank' rel="noopener nofollow"
            title="Call us now"><span>Call:&nbsp;</span>(405) 555-0128</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="mailto:hello@createx.com" target='_blank' rel="noopener nofollow"
            title="Send us an email"><span>Email:&nbsp;</span>hello@createx.com</a>

        </li>
      </ul>
    </address>
    <nav class="footer__nav" title="secondary navigation">
      <div class="footer__nav-col">
        <p class="footer__title">WHO WE ARE</p>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="/about.html">About Us</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="/positions.html">Available Positions</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="/contacts.html">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <p class="footer__title">OUR EXPERIENCE</p>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="/services.html">Services</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="/work.html">Work</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="/news.html">News</a>
          </li>
        </ul>
      </div>
    </nav>
    <p class="footer__copyright">
      &copy;&nbsp;All rights reserved. Made with&nbsp;<span>by&nbsp;Createx Studio</span>
    </p>
  </div>
</footer>