<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo logo" href="/index.html">
        <img src="/images/icons/logo.svg" alt="Createx Construction logo" width="130" height="22">
      </a>
      <nav class="header__nav nav" aria-label="Main navigation">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="/about.html">About Us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/services.html">Services</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/work.html">Work</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/news.html">News</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/contacts.html">Contacts</a>
          </li>
        </ul>
      </nav>
      <address class="header__address">
        <ul class="header__contacts">
          <li class="header__contacts-item">
            <a class="header__contacts-link header__contacts-link--tel" href="tel:4055550128" target='_blank'
              rel="noopener nofollow" aria-label="Call Createx Construction at (405) 555-0128" title="Call us now">
              <strong class="header__contacts-descr animate-on-scroll heartbeat">Call us</strong>
              (405) 555-0128
            </a>
          </li>
          <li class="header__contacts-item">
            <a class="header__contacts-link header__contacts-link--mail" href="mailto:hello@createx.com" target="_blank"
              rel="noopener nofollow" aria-label="Send email to Createx Construction at hello@createx.com"
              title="Send us an email">
              <strong class="header__contacts-descr animate-on-scroll heartbeat">Talk to us</strong>
              hello@createx.com
            </a>

          </li>
        </ul>
      </address>
      <button class="burger" aria-label="Open menu">
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>