<section class="page-hero in-view" aria-labelledby="{{ id }}">
  <div class="container">
    <nav class="breadcrumbs" aria-label="Breadcrumb">
      <ol class="breadcrumbs__list mobile-overflow">
        {% for crumb in breadcrumbs %}
        <li class="breadcrumbs__item">
          {% if crumb.current %}
          <span class="breadcrumbs__nolink" aria-current="page">{{ crumb.text }}</span>
          {% else %}
          <a class="breadcrumbs__link" href="{{ crumb.href }}">{{ crumb.text }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
    </nav>
    {% if pageName == "page-post" %}
    <div class="singlepost__content">
      {% else %}
      <div class="page-hero__content">
        {% endif %}

        {% if pageName == "page-post" %}
        <h1 class="singlepost__title section__inside-title reveal-top" id="{{ id }}">{{ title }}</h1>
        {% else %}
        <h1 class="page-hero__title section__title" id="{{ id }}">{{ title }}</h1>
        {% endif %}

        {% if descr %}
        <p class="page-hero__descr">{{ descr }}</p>
        {% endif %}

        {% if pageName == "page-post" %}
        {% include "hero-news1.njk" %}
        {% endif %}
      </div>
    </div>
</section>