{# scripts.njk #}
{% set suffix = '' %}
{% if isProd %}
{% set suffix = '.min' %}
{% endif %}

{# Глобальные скрипты #}
<script src="js/dynamic-header-height{{ suffix }}.js" defer></script>
<script src="js/classTran{{ suffix }}.js" defer></script>
<script src="js/smooth-scroll{{ suffix }}.js" defer></script>
<script src="js/initScrollReset{{ suffix }}.js" defer></script>
<script src="js/scrollreveal{{ suffix }}.js" defer></script>
<script src="js/modules/scrollReveal{{ suffix }}.js" defer></script>
<script src="js/to-top{{ suffix }}.js" defer></script>
<script src="js/TransferElements{{ suffix }}.js" defer></script>
<script src="js/transfer{{ suffix }}.js" defer></script>
<script src="js/burger{{ suffix }}.js" defer></script>
<script src="js/animations{{ suffix }}.js" defer></script>
<script src="js/create-alertbox{{ suffix }}.js" defer></script>
<script src="js/scrollManager{{ suffix }}.js" defer></script>
<script src="js/validation-form{{ suffix }}.js" defer></script>
<script src="js/imask{{ suffix }}.js" defer></script>
<script src="js/progress{{ suffix }}.js" defer></script>

{# Специфичные скрипты по pageName #}
{% if pageName == "page-home" %}
<script src="js/swiper-bundle{{ suffix }}.js" defer></script>
<script src="js/sliders{{ suffix }}.js" defer></script>
<script src="js/video{{ suffix }}.js" defer></script>
{% endif %}

{% if pageName == "page-about" %}
<script src="js/swiper-bundle{{ suffix }}.js" defer></script>
<script src="js/sliders{{ suffix }}.js" defer></script>
<script src="js/render-teams{{ suffix }}.js" defer></script>
{% endif %}

{% if pageName == "page-positions" %}
<script src="js/graph-modal{{ suffix }}.js" defer></script>
<script src="js/modals{{ suffix }}.js" defer></script>
<script src="js/form-sendCv{{ suffix }}.js" defer></script>
{% endif %}

{% if pageName == "page-services-inside" %}
<script src="js/accordeon{{ suffix }}.js" defer></script>
<script src="js/swiper-bundle{{ suffix }}.js" defer></script>
<script src="js/sliders{{ suffix }}.js" defer></script>
{% endif %}

{% if pageName == "page-work" %}
<script src="js/swiper-bundle{{ suffix }}.js" defer></script>
<script src="js/sliders{{ suffix }}.js" defer></script>
<script src="js/tab-link-handler{{ suffix }}.js" defer></script>
<script src="js/tabs{{ suffix }}.js" defer></script>
<script src="js/render-portfolio{{ suffix }}.js" defer></script>
{% endif %}

{% if pageName == "page-project" %}
<script src="js/swiper-bundle{{ suffix }}.js" defer></script>
<script src="js/sliders{{ suffix }}.js" defer></script>
<script src="js/render-project{{ suffix }}.js" defer></script>
<script src="js/aos{{ suffix }}.js" defer></script>
<script defer>
  document.addEventListener("DOMContentLoaded", function () {
    if (typeof AOS !== "undefined") {
      AOS.init({ duration: 1200, once: false });
    }
  });
</script>
{% endif %}

{% if pageName == "page-news" %}
<script src="js/mixitup{{ suffix }}.js" defer></script>
<script src="js/mainmixitup{{ suffix }}.js" defer></script>
<script src="js/tab-link-handler{{ suffix }}.js" defer></script>
<script src="js/tabs{{ suffix }}.js" defer></script>
<script src="js/modules/follow-links{{ suffix }}.js" defer></script>
{% endif %}

{% if pageName == "page-contacts" %}
<script src="js/choices{{ suffix }}.js" defer></script>
<script src="js/selects{{ suffix }}.js" defer></script>
{% endif %}