{# scripts.njk #}
<!-- Глобальные скрипты -->
<!-- <script src="/js/jquery.js"></script> -->
<script src="/js/dynamic-header-height.js" defer></script>
<script src="/js/classTran.js" defer></script>

<!-- //Анимирует переход к якорям (#section) при клике на ссылки -->
<script src="/js/smooth-scroll.min.js" defer></script>
<script src="/js/initScrollReset.js" defer></script>

<script src="/js/scrollreveal.min.js" defer></script>
<script src="/js/my-scrollreveal.js" defer></script>

<script src="/js/to-top.js" defer></script>

<script src="/js/TransferElements.js" defer></script>
<script src="/js/transfer.js" defer></script>

<script src="/js/burger.js" defer></script>

<script src="/js/animations.js" defer></script>



{# Специфичные скрипты по pageName #}

{% if pageName == "page-home" %}
<script src="/js/swiper-bundle.min.js" defer></script>
<script src="/js/sliders.js" defer></script>
<script src="/js/create-alertbox.js" defer></script>
<script type="module" src="/js/validation-form.js" defer></script>
<script src="/js/imask.min.js" defer></script>

<script src="/js/video.js" defer></script>
<script src="/js/progress.js" defer></script>
{% endif %}

{% if pageName == "page-about" %}
<script src="/js/swiper-bundle.min.js" defer></script>
<script src="/js/sliders.js" defer></script>
<script src="/js/imask.min.js" defer></script>
<script src="/js/create-alertbox.js" defer></script>
<script src="/js/validation-form.js" defer></script>
{% endif %}
{% if pageName == "page-positions" %}
<script src="/js/graph-modal.min.js" defer></script>
<script src="/js/modals.js" defer></script>
<script src="/js/form-sendCv.js" defer></script>
{% endif %}