{# scripts.njk #}
<!-- Глобальные скрипты -->
<!-- <script src="/js/jquery.js"></script> -->
<script src="/js/dynamic-header-height.js"></script>
<script src="/js/classTran.js"></script>

<!-- //Анимирует переход к якорям (#section) при клике на ссылки -->
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/initScrollReset.js"></script>

<script src="/js/scrollreveal.min.js"></script>
<script src="/js/my-scrollreveal.js"></script>

<script src="/js/to-top.js"></script>

<script src="/js/TransferElements.js"></script>
<script src="/js/transfer.js"></script>

<script src="/js/burger.js"></script>

<script src="/js/animations.js"></script>



{# Специфичные скрипты по pageName #}

{% if pageName == "page-home" %}
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/sliders.js"></script>
<script src="/js/create-alertbox.js"></script>
<script type="module" src="/js/validation-form.js"></script>
<script src="/js/imask.min.js"></script>

<script src="/js/video.js"></script>
<script src="/js/progress.js"></script>
{% endif %}

{% if pageName == "page-about" %}
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/sliders.js"></script>
<script src="/js/imask.min.js"></script>
<script src="/js/create-alertbox.js"></script>
<script type="module" src="/js/validation-form.js"></script>
{% endif %}
{% if pageName == "page-positions" %}
<script src="/js/graph-modal.min.js"></script>
<script src="/js/modals.js"></script>
{% endif %}