<address class="social-media">
  {% set modifier = contextClass or 'footer' %}
  {% set icons = icons or [] %}

  <ul class="social social--{{ modifier }}">
    {% for icon in icons %}
    <li class="social__item social__item--{{ modifier }}">
      <a class="social__link" href="{{ icon.url }}" aria-label="{{ icon.label }}" target="_blank"
        rel="noopener noreferrer">
        <svg focusable="false" aria-hidden="true">
          <use href="/images/icons/sprite.svg#{{ icon.name }}"></use>
        </svg>
      </a>
    </li>
    {% endfor %}
  </ul>
</address>